# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector

from sklearn.linear_model import LassoLarsCV
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler, StandardScaler

In [2]:
import mysql.connector
import pandas as pd

def get_sql_result(SQL: str) -> pd.DataFrame:
    try:
        conn = mysql.connector.connect(
            user='chad',
            password='buggersZoologyBrothCoda',
            host="data-engineering-cluster.tfs.vision",
            database="test",
            port=30930,
        )
        cursor = conn.cursor(dictionary=True)
        
        cursor.execute(SQL)
        df = pd.DataFrame(cursor.fetchall())
        
        cursor.close()
        conn.close()
        
        return df
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        if 'conn' in locals() and conn.is_connected():
            conn.close()
        return pd.DataFrame()  # Return an empty DataFrame in case of error

In [3]:
test_df = get_sql_result('SELECT * FROM electricity_energy_power LIMIT 100')

Error: 2003 (HY000): Can't connect to MySQL server on 'data-engineering-cluster.tfs.vision:30930' (111)

# Dataframe

## Solar df

### VCOM data

In [4]:
file_path = 'Mvusuludzo VCOM.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)
#test_df = get_sql_result('SELECT * FROM solcast_data LIMIT 100')

# Select only relevant columns from .csv
selected_columns = ['tstamp','ptot']
new_df = df[selected_columns]

In [5]:
new_df['ptot'] = new_df['ptot'].abs()

# Convert the object column to datetime
new_df['tstamp'] = pd.to_datetime(new_df['tstamp'])

# Set the timestamp column as the DataFrame index
new_df.set_index('tstamp', inplace=True)

In [6]:
new_df

                     ptot
tstamp
2023-06-01 00:00:00   NaN
2023-06-01 00:05:00   NaN
2023-06-01 00:10:00   NaN
2023-06-01 00:15:00   NaN
2023-06-01 00:20:00   NaN
...                   ...
2024-05-31 23:35:00   0.0
2024-05-31 23:40:00   0.0
2024-05-31 23:45:00   0.0
2024-05-31 23:50:00   0.0
2024-05-31 23:55:00   0.0

[105408 rows x 1 columns]

In [7]:
# Define the specific timestamp range
start_timestamp = pd.Timestamp('2023-06-01')  # Example start timestamp
end_timestamp = pd.Timestamp('2024-05-31')    # Example end timestamp

# Filter the DataFrame based on the timestamp range
solar_df = new_df[(new_df.index >= start_timestamp) & (new_df.index <= end_timestamp)]

solar_df

                     ptot
tstamp
2023-06-01 00:00:00   NaN
2023-06-01 00:05:00   NaN
2023-06-01 00:10:00   NaN
2023-06-01 00:15:00   NaN
2023-06-01 00:20:00   NaN
...                   ...
2024-05-30 23:40:00   0.0
2024-05-30 23:45:00   0.0
2024-05-30 23:50:00   0.0
2024-05-30 23:55:00   0.0
2024-05-31 00:00:00   0.0

[105121 rows x 1 columns]

In [8]:
# Define the start and end timestamps for the range
start_timestamp = pd.Timestamp('2024-03-08 15:00:00')
end_timestamp = pd.Timestamp('2024-03-08 23:55:55')

# Filter rows based on the timestamp range
filtered_solar_df = solar_df[(solar_df.index >= start_timestamp) & (solar_df.index < end_timestamp)]

filtered_solar_df.head(60)

                       ptot
tstamp
2024-03-08 15:00:00  26.821
2024-03-08 15:05:00  26.138
2024-03-08 15:10:00  25.399
2024-03-08 15:15:00  24.755
2024-03-08 15:20:00  24.051
2024-03-08 15:25:00  23.290
2024-03-08 15:30:00  22.637
2024-03-08 15:35:00  21.911
2024-03-08 15:40:00  21.157
2024-03-08 15:45:00  20.337
2024-03-08 15:50:00  19.533
2024-03-08 15:55:00  18.855
2024-03-08 16:00:00  18.032
2024-03-08 16:05:00  17.130
2024-03-08 16:10:00  16.326
2024-03-08 16:15:00  15.570
2024-03-08 16:20:00  14.713
2024-03-08 16:25:00  13.770
2024-03-08 16:30:00  12.840
2024-03-08 16:35:00  11.970
2024-03-08 16:40:00  11.072
2024-03-08 16:45:00  10.262
2024-03-08 16:50:00   9.464
2024-03-08 16:55:00   8.771
2024-03-08 17:00:00   7.899
2024-03-08 17:05:00   7.059
2024-03-08 17:10:00   6.120
2024-03-08 17:15:00   1.969
2024-03-08 17:20:00   0.994
2024-03-08 17:25:00   0.790
2024-03-08 17:30:00   0.760
2024-03-08 17:35:00   0.780
2024-03-08 17:40:00   0.802
2024-03-08 17:45:00   0.813
2024-03-08 17:50:00   0.750
2024-03-08 17:55:00   0.599
2024-03-08 18:00:00   0.431
2024-03-08 18:05:00   0.253
2024-03-08 18:10:00   0.109
2024-03-08 18:15:00   0.041
2024-03-08 18:20:00   0.001
2024-03-08 18:25:00   0.000
2024-03-08 18:30:00   0.000
2024-03-08 18:35:00   0.000
2024-03-08 18:40:00   0.000
2024-03-08 18:45:00   0.000
2024-03-08 18:50:00   0.000
2024-03-08 18:55:00   0.000
2024-03-08 19:00:00   0.000
2024-03-08 19:05:00   0.000
2024-03-08 19:10:00   0.000
2024-03-08 19:15:00   0.000
2024-03-08 19:20:00   0.000
2024-03-08 19:25:00   0.000
2024-03-08 19:30:00   0.000
2024-03-08 19:35:00   0.000
2024-03-08 19:40:00   0.000
2024-03-08 19:45:00   0.000
2024-03-08 19:50:00   0.000
2024-03-08 19:55:00   0.000

In [9]:
solar_df_new = []

# Resample with a frequency of 5 minute and fill gaps with 0
solar_df_resampled = solar_df.resample('5T').sum().fillna(0)

solar_df_new.append(solar_df_resampled)

df_f = pd.concat(solar_df_new)

df_f

                     ptot
tstamp
2023-06-01 00:00:00   0.0
2023-06-01 00:05:00   0.0
2023-06-01 00:10:00   0.0
2023-06-01 00:15:00   0.0
2023-06-01 00:20:00   0.0
...                   ...
2024-05-30 23:40:00   0.0
2024-05-30 23:45:00   0.0
2024-05-30 23:50:00   0.0
2024-05-30 23:55:00   0.0
2024-05-31 00:00:00   0.0

[105121 rows x 1 columns]

### Copper data

In [10]:
file_path = 'Mvusuludzo PV Meter DG.csv'

# Read the CSV file into a Pandas DataFrame
cop_df = pd.read_csv(file_path)

# Select only relevant columns from .csv
selected_columns = ['timestamp', 'export_kwh', 'ptot']
new_cop_df = cop_df[selected_columns]

# Make ptot values positive
new_cop_df['ptot'] = new_cop_df['ptot'].abs()

# Convert the object column to datetime
new_cop_df['timestamp'] = pd.to_datetime(new_cop_df['timestamp'])

# Shift the tstamp column by 2 hours
new_cop_df['timestamp'] = new_cop_df['timestamp'] - pd.DateOffset(hours=-2)

# Set the timestamp column as the DataFrame index
new_cop_df.set_index('timestamp', inplace=True)

# Rename index 'tstamp'
new_cop_df.rename_axis('tstamp', inplace=True)

# Rename ptot column copper_ptot
new_cop_df.rename(columns={'ptot': 'copper_ptot'}, inplace=True)

/tmp/ipykernel_99594/2920311161.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cop_df['ptot'] = new_cop_df['ptot'].abs()
/tmp/ipykernel_99594/2920311161.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cop_df['timestamp'] = pd.to_datetime(new_cop_df['timestamp'])
/tmp/ipykernel_99594/2920311161.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cop_df['timestamp'] = new_cop_df['timestamp'] - pd.DateOffset(hours=-2)
/tmp/ipykernel_99594/2920311161.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cop_df.rename(columns={'ptot': 'copper_ptot'}, inplace=True)

In [11]:
new_cop_df

                     export_kwh  copper_ptot
tstamp
2023-05-01 02:00:00         0.0          0.0
2023-05-01 02:05:00         0.0          0.0
2023-05-01 02:10:00         0.0          0.0
2023-05-01 02:15:00         0.0          0.0
2023-05-01 02:20:00         0.0          0.0
...                         ...          ...
2024-06-30 23:40:00         0.0          0.0
2024-06-30 23:45:00         0.0          0.0
2024-06-30 23:50:00         0.0          0.0
2024-06-30 23:55:00         0.0          0.0
2024-07-01 00:00:00         0.0          0.0

[107250 rows x 2 columns]

In [12]:
# Define the specific timestamp range
start_timestamp = pd.Timestamp('2023-06-01')  # Example start timestamp
end_timestamp = pd.Timestamp('2024-05-31')    # Example end timestamp

# Filter the DataFrame based on the timestamp range
gap_df = new_cop_df[(new_cop_df.index >= start_timestamp) & (new_cop_df.index <= end_timestamp)]

gap_df

                     export_kwh  copper_ptot
tstamp
2023-06-01 01:10:00         0.0          0.0
2023-06-01 01:15:00         0.0          0.0
2023-06-01 01:20:00         0.0          0.0
2023-06-01 01:25:00         0.0          0.0
2023-06-01 01:30:00         0.0          0.0
...                         ...          ...
2024-05-30 23:40:00         0.0          0.0
2024-05-30 23:45:00         0.0          0.0
2024-05-30 23:50:00         0.0          0.0
2024-05-30 23:55:00         0.0          0.0
2024-05-31 00:00:00         0.0          0.0

[92236 rows x 2 columns]

In [13]:
# Function to clean and convert the 'export_wh' column
#def clean_export_wh(value):
    # Replace ',' with '' and convert to float
#    return float(value.replace(',', '').replace(' ', ''))

# Apply the cleaning function to 'export_wh'
#gap_df['export_kwh'] = gap_df['export_kwh'].apply(clean_export_wh)

# Resample with a frequency of 5 minutes and sum values
gap_df_resampled = gap_df.resample('5T').sum()

# Fill gaps in 'export_wh' column with 0
gap_df_resampled['export_kwh'] = gap_df_resampled['export_kwh'].fillna(0)
gap_df_resampled['copper_ptot'] = gap_df_resampled['copper_ptot'].fillna(0)

gap_df_new = [gap_df_resampled]

cop_df_f = pd.concat(gap_df_new)

# Divide each value in the 'data' column by 10
cop_df_f['copper_ptot'] = cop_df_f['copper_ptot'] / 10

cop_df_f

                     export_kwh  copper_ptot
tstamp
2023-06-01 01:10:00         0.0          0.0
2023-06-01 01:15:00         0.0          0.0
2023-06-01 01:20:00         0.0          0.0
2023-06-01 01:25:00         0.0          0.0
2023-06-01 01:30:00         0.0          0.0
...                         ...          ...
2024-05-30 23:40:00         0.0          0.0
2024-05-30 23:45:00         0.0          0.0
2024-05-30 23:50:00         0.0          0.0
2024-05-30 23:55:00         0.0          0.0
2024-05-31 00:00:00         0.0          0.0

[105107 rows x 2 columns]

### Combine VCOM and Copper DF

In [14]:
# Merge on the index column 'tstamp'
solar_df = pd.merge(df_f, cop_df_f, left_index=True, right_index=True)

solar_df

                     ptot  export_kwh  copper_ptot
tstamp
2023-06-01 01:10:00   0.0         0.0          0.0
2023-06-01 01:15:00   0.0         0.0          0.0
2023-06-01 01:20:00   0.0         0.0          0.0
2023-06-01 01:25:00   0.0         0.0          0.0
2023-06-01 01:30:00   0.0         0.0          0.0
...                   ...         ...          ...
2024-05-30 23:40:00   0.0         0.0          0.0
2024-05-30 23:45:00   0.0         0.0          0.0
2024-05-30 23:50:00   0.0         0.0          0.0
2024-05-30 23:55:00   0.0         0.0          0.0
2024-05-31 00:00:00   0.0         0.0          0.0

[105107 rows x 3 columns]

In [15]:
# Define the start and end timestamps for the range
start_timestamp = pd.Timestamp('2024-03-05 14:15:00')
end_timestamp = pd.Timestamp('2024-03-05 19:00:00')

# Filter rows based on the timestamp range
df_f_filtered = solar_df[(solar_df.index >= start_timestamp) & (solar_df.index < end_timestamp)]

df_f_filtered.head(60)

                       ptot  export_kwh  copper_ptot
tstamp
2024-03-05 14:15:00  32.164       32.26      38.7120
2024-03-05 14:20:00  31.623       31.81      38.0452
2024-03-05 14:25:00  31.151       31.10      37.4448
2024-03-05 14:30:00  30.723       30.91      37.0920
2024-03-05 14:35:00  30.143       30.21      36.2520
2024-03-05 14:40:00  29.474       29.57      35.4840
2024-03-05 14:45:00  28.884       28.93      34.7160
2024-03-05 14:50:00  28.164       28.22      33.8640
2024-03-05 14:55:00  27.710       27.78      33.3360
2024-03-05 15:00:00  27.049       27.13      32.5560
2024-03-05 15:05:00  26.544       26.69      31.9216
2024-03-05 15:10:00  25.869       25.92      31.1040
2024-03-05 15:15:00  25.078       25.15      30.1800
2024-03-05 15:20:00  24.357       24.39      29.3659
2024-03-05 15:25:00  23.739       23.81      28.5720
2024-03-05 15:30:00  23.019       23.04      27.6480
2024-03-05 15:35:00  22.335       22.46      26.8625
2024-03-05 15:40:00  21.591       21.63      26.0428
2024-03-05 15:45:00  20.815       20.87      25.0440
2024-03-05 15:50:00  19.991       20.03      24.0360
2024-03-05 15:55:00  19.091       19.13      22.8797
2024-03-05 16:00:00  18.295       18.31      21.9720
2024-03-05 16:05:00  17.486       17.53      21.1064
2024-03-05 16:10:00  16.597       16.64      19.9017
2024-03-05 16:15:00  15.757       15.81      19.0355
2024-03-05 16:20:00  15.008       15.04      18.0480
2024-03-05 16:25:00  14.154       14.21      17.0520
2024-03-05 16:30:00  13.200       13.25      15.8472
2024-03-05 16:35:00  12.286       12.35      14.8200
2024-03-05 16:40:00  11.435       11.46      13.7980
2024-03-05 16:45:00  10.645       10.68      12.8160
2024-03-05 16:50:00   9.809        9.80      11.7600
2024-03-05 16:55:00   8.946        9.02      10.7880
2024-03-05 17:00:00   8.070        8.06       9.6720
2024-03-05 17:05:00   7.274        7.30       8.7893
2024-03-05 17:10:00   6.406        6.46       7.7520
2024-03-05 17:15:00   5.631        5.64       6.7680
2024-03-05 17:20:00   4.965        4.99       5.9880
2024-03-05 17:25:00   4.299        4.29       5.1480
2024-03-05 17:30:00   3.675        3.71       4.4520
2024-03-05 17:35:00   3.153        3.13       3.7560
2024-03-05 17:40:00   2.667        2.69       3.2173
2024-03-05 17:45:00   2.207        2.24       2.6880
2024-03-05 17:50:00   1.730        1.73       2.0760
2024-03-05 17:55:00   1.338        1.34       1.6134
2024-03-05 18:00:00   1.036        1.03       1.2319
2024-03-05 18:05:00   0.787        0.77       0.9271
2024-03-05 18:10:00   0.566        0.57       0.6840
2024-03-05 18:15:00   0.310        0.26       0.3120
2024-03-05 18:20:00   0.115        0.13       0.1555
2024-03-05 18:25:00   0.029        0.00       0.0000
2024-03-05 18:30:00   0.000        0.00       0.0576
2024-03-05 18:35:00   0.000        0.00       0.0385
2024-03-05 18:40:00   0.000        0.00       0.0000
2024-03-05 18:45:00   0.000        0.00       0.0000
2024-03-05 18:50:00   0.000        0.00       0.0000
2024-03-05 18:55:00   0.000        0.00       0.0000

## Satellite df

In [16]:
weather_path = 'Mvusuludzo Solcast 30 min.csv'
weather_df = pd.read_csv(weather_path)

weather_df = pd.DataFrame(weather_df)
weather_df['PeriodEnd'] = pd.to_datetime(weather_df['PeriodEnd']).dt.tz_convert(None)

weather_df.rename(columns={'PeriodEnd': 'tstamp'}, inplace=True)

# Convert tstamp to datetime if it's not already
weather_df['tstamp'] = pd.to_datetime(weather_df['tstamp'])

# Shift the tstamp column by 2 hours
weather_df['tstamp'] = weather_df['tstamp'] - pd.DateOffset(hours=-2)

In [17]:
weather_df

,tstamp,PeriodStart,Period,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily
0,2023-05-31 02:30:00,2023-05-31T00:00:00Z,PT30M,13.5,-85,0.0,12.5,0,0,0,0,25.3,93.5,945.6,14,1.9,148,0.15
1,2023-05-31 03:00:00,2023-05-31T00:30:00Z,PT30M,13.4,-83,6.0,12.4,0,0,0,0,25.8,93.2,945.5,14,1.8,141,0.15
2,2023-05-31 03:30:00,2023-05-31T01:00:00Z,PT30M,13.4,-82,6.0,12.3,0,0,0,0,26.2,93.5,945.3,12,1.7,134,0.15
3,2023-05-31 04:00:00,2023-05-31T01:30:00Z,PT30M,13.2,-80,6.0,12.4,0,0,0,0,26.5,94.4,945.1,11,1.7,127,0.15
4,2023-05-31 04:30:00,2023-05-31T02:00:00Z,PT30M,13.2,-78,9.0,12.4,0,0,0,0,26.7,95.2,945.0,8,1.7,120,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,2024-06-03 00:00:00,2024-06-02T21:30:00Z,PT30M,16.5,121,0.0,11.6,0,0,0,0,24.9,73.3,941.1,84,2.8,177,0.15
17708,2024-06-03 00:30:00,2024-06-02T22:00:00Z,PT30M,16.2,-102,0.0,11.6,0,0,0,0,25.2,74.4,940.9,87,2.8,176,0.15
17709,2024-06-03 01:00:00,2024-06-02T22:30:00Z,PT30M,15.9,-92,3.0,11.7,0,0,0,0,25.3,75.9,940.7,93,2.7,169,0.15
17710,2024-06-03 01:30:00,2024-06-02T23:00:00Z,PT30M,15.7,-89,0.0,11.7,0,0,0,0,25.2,76.9,940.6,100,2.6,162,0.15
17711,2024-06-03 02:00:00,2024-06-02T23:30:00Z,PT30M,15.6,-86,0.0,11.6,0,0,0,0,24.9,77.3,940.6,108,2.4,155,0.15

In [18]:
# Define the specific timestamp range
start_timestamp = pd.Timestamp('2023-06-01')  # Example start timestamp
end_timestamp = pd.Timestamp('2024-05-31')    # Example end timestamp

# Filter the DataFrame based on the timestamp range
satellite_df = weather_df[(weather_df['tstamp'] >= start_timestamp) & (weather_df['tstamp'] <= end_timestamp)]

# Set 'tstamp' column as the index
satellite_df.index = pd.to_datetime(satellite_df['tstamp'])

# Remove 'tstamp', 'PeriodStart', and 'Period' columns in one line
satellite_df = satellite_df.drop(['tstamp', 'PeriodStart', 'Period'], axis=1)

satellite_df

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily
tstamp,,,,,,,,,,,,,,,
2023-06-01 00:00:00,17.2,129,43.5,14.8,0,0,0,0,29.5,85.5,943.9,24,1.6,177,0.15
2023-06-01 00:30:00,17.0,-107,43.5,14.7,0,0,0,0,29.3,85.9,943.8,12,1.6,175,0.15
2023-06-01 01:00:00,16.8,-94,41.4,14.6,0,0,0,0,29.1,87.3,943.6,6,1.6,168,0.15
2023-06-01 01:30:00,16.2,-90,37.7,14.4,0,0,0,0,28.7,88.8,943.5,358,1.5,162,0.15
2023-06-01 02:00:00,15.4,-87,24.2,13.8,0,0,0,0,28.3,90.5,943.3,345,1.3,155,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-30 22:00:00,12.8,86,0.0,8.2,0,0,0,0,11.2,73.1,944.5,309,1.7,150,0.15
2024-05-30 22:30:00,12.4,88,0.0,7.9,0,0,0,0,10.9,74.0,944.5,304,1.7,157,0.15
2024-05-30 23:00:00,12.1,91,0.0,7.8,0,0,0,0,10.6,75.0,944.4,302,1.7,164,0.15
2024-05-30 23:30:00,11.8,96,0.0,7.7,0,0,0,0,10.4,76.1,944.4,300,1.7,171,0.15
2024-05-31 00:00:00,11.5,129,0.0,7.6,0,0,0,0,10.2,77.3,944.3,298,1.6,177,0.15

In [19]:
# Resample DF to 5-minute intervals
satellite_df_resampled = satellite_df.resample('5T').mean()

# Function to handle circular interpolation
def circular_interpolation(series):
    radians = np.deg2rad(series)
    sin_interp = pd.Series(np.sin(radians)).interpolate()
    cos_interp = pd.Series(np.cos(radians)).interpolate()
    return np.rad2deg(np.arctan2(sin_interp, cos_interp))

# Circular interpolation for features measured in degrees
circular_vars = ['Azimuth', 'WindDirection10m', 'Zenith']

# Fill in resampled DF by looping through every row of each feature/column and applying interpolation function
for var in circular_vars:
    satellite_df_resampled[var] = circular_interpolation(satellite_df_resampled[var])

# Linear interpolation on most features
linear_vars = [
    'AirTemp', 'CloudOpacity', 'DewpointTemp', 'Dhi', 
    'Dni', 'Ebh', 'Ghi', 'PrecipitableWater', 
    'RelativeHumidity', 'SurfacePressure', 'WindSpeed10m'
]

# Fill in resampled DF with interpolated values by looping through DF with each feature/column
for var in linear_vars:
    satellite_df_resampled[var] = satellite_df_resampled[var].interpolate(method='linear')
    
# Verify the DF
satellite_df_resampled.head()

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily
tstamp,,,,,,,,,,,,,,,
2023-06-01 00:00:00,17.200000,129.000000,43.5,14.800000,0.0,0.0,0.0,0.0,29.500000,85.500000,943.900000,24.000000,1.6,177.000000,0.15
2023-06-01 00:05:00,17.166667,139.574607,43.5,14.783333,0.0,0.0,0.0,0.0,29.466667,85.566667,943.883333,22.008135,1.6,176.666704,NaN
2023-06-01 00:10:00,17.133333,158.916038,43.5,14.766667,0.0,0.0,0.0,0.0,29.433333,85.633333,943.866667,20.006522,1.6,176.333363,NaN
2023-06-01 00:15:00,17.100000,-169.000000,43.5,14.750000,0.0,0.0,0.0,0.0,29.400000,85.700000,943.850000,18.000000,1.6,176.000000,NaN
2023-06-01 00:20:00,17.066667,-136.916038,43.5,14.733333,0.0,0.0,0.0,0.0,29.366667,85.766667,943.833333,15.993478,1.6,175.666637,NaN

## Format dataframe

### Combine the solar and satellite daytime dataframes and filter nighttime rows

In [20]:
# Merge on the index column 'tstamp'
final_df = pd.merge(satellite_df_resampled, solar_df, left_index=True, right_index=True)

final_df

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot
tstamp,,,,,,,,,,,,,,,,,,
2023-06-01 01:10:00,16.60,-92.666907,40.166667,14.533333,0.0,0.0,0.0,0.0,28.966667,87.80,943.566667,3.335262,1.566667,166.000813,NaN,0.0,0.0,0.0
2023-06-01 01:15:00,16.50,-92.000000,39.550000,14.500000,0.0,0.0,0.0,0.0,28.900000,88.05,943.550000,2.000000,1.550000,165.000000,NaN,0.0,0.0,0.0
2023-06-01 01:20:00,16.40,-91.333093,38.933333,14.466667,0.0,0.0,0.0,0.0,28.833333,88.30,943.533333,0.664738,1.533333,163.999187,NaN,0.0,0.0,0.0
2023-06-01 01:25:00,16.30,-90.666366,38.316667,14.433333,0.0,0.0,0.0,0.0,28.766667,88.55,943.516667,-0.669075,1.516667,162.998984,NaN,0.0,0.0,0.0
2023-06-01 01:30:00,16.20,-90.000000,37.700000,14.400000,0.0,0.0,0.0,0.0,28.700000,88.80,943.500000,-2.000000,1.500000,162.000000,0.15,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-30 23:40:00,11.70,106.861017,0.000000,7.666667,0.0,0.0,0.0,0.0,10.333333,76.50,944.366667,-60.666637,1.666667,172.999187,NaN,0.0,0.0,0.0
2024-05-30 23:45:00,11.65,112.500000,0.000000,7.650000,0.0,0.0,0.0,0.0,10.300000,76.70,944.350000,-61.000000,1.650000,174.000000,NaN,0.0,0.0,0.0
2024-05-30 23:50:00,11.60,118.138983,0.000000,7.633333,0.0,0.0,0.0,0.0,10.266667,76.90,944.333333,-61.333363,1.633333,175.000813,NaN,0.0,0.0,0.0
2024-05-30 23:55:00,11.55,123.670794,0.000000,7.616667,0.0,0.0,0.0,0.0,10.233333,77.10,944.316667,-61.666704,1.616667,176.001016,NaN,0.0,0.0,0.0
2024-05-31 00:00:00,11.50,129.000000,0.000000,7.600000,0.0,0.0,0.0,0.0,10.200000,77.30,944.300000,-62.000000,1.600000,177.000000,0.15,0.0,0.0,0.0

In [21]:
import pandas as pd

# List of columns to check for zero values
columns_to_check = ['Dhi', 'Dni', 'Ebh', 'Ghi', 'ptot']

# Filter the DataFrame to keep rows where at least one of the specified columns is not zero
filtered_df = final_df[(final_df[columns_to_check] != 0).any(axis=1)]

# Filter the DataFrame to remove rows where Ghi < 250 in the morning (00:00 to 12:00)
#morning_filter = (filtered_df.index.hour < 12) & (filtered_df['Ghi'] < 250)
#filtered_df = filtered_df[~morning_filter]

print("DataFrame after removing rows where Dhi, Dni, Ebh, Ghi, and ptot are all zero:")
filtered_df.head(60)

DataFrame after removing rows where Dhi, Dni, Ebh, Ghi, and ptot are all zero:

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot
tstamp,,,,,,,,,,,,,,,,,,
2023-06-01 06:35:00,14.416667,-67.500127,18.666667,13.216667,2.166667,10.833333,1.000000,3.166667,22.816667,92.750000,943.166667,-115.666704,0.883333,93.001016,NaN,0.000,0.000,0.0000
2023-06-01 06:40:00,14.433333,-67.000102,16.833333,13.233333,4.333333,21.666667,2.000000,6.333333,22.733333,92.800000,943.233333,-115.333363,0.866667,92.000813,NaN,0.000,0.000,0.0000
2023-06-01 06:45:00,14.450000,-66.500000,15.000000,13.250000,6.500000,32.500000,3.000000,9.500000,22.650000,92.850000,943.300000,-115.000000,0.850000,91.000000,NaN,0.000,0.000,0.0000
2023-06-01 06:50:00,14.466667,-65.999898,13.166667,13.266667,8.666667,43.333333,4.000000,12.666667,22.566667,92.900000,943.366667,-114.666637,0.833333,89.999187,NaN,0.000,0.000,0.0000
2023-06-01 06:55:00,14.483333,-65.499873,11.333333,13.283333,10.833333,54.166667,5.000000,15.833333,22.483333,92.950000,943.433333,-114.333296,0.816667,88.998984,NaN,0.000,0.000,0.0000
2023-06-01 07:00:00,14.500000,-65.000000,9.500000,13.300000,13.000000,65.000000,6.000000,19.000000,22.400000,93.000000,943.500000,-114.000000,0.800000,88.000000,0.15,0.000,0.000,0.0000
2023-06-01 07:05:00,14.583333,-64.500127,8.816667,13.350000,19.166667,98.000000,11.166667,30.333333,22.350000,92.750000,943.566667,-113.833338,0.800000,87.001016,NaN,0.000,0.000,0.0000
2023-06-01 07:10:00,14.666667,-64.000102,8.133333,13.400000,25.333333,131.000000,16.333333,41.666667,22.300000,92.500000,943.633333,-113.666670,0.800000,86.000813,NaN,0.000,0.000,0.0000
2023-06-01 07:15:00,14.750000,-63.500000,7.450000,13.450000,31.500000,164.000000,21.500000,53.000000,22.250000,92.250000,943.700000,-113.500000,0.800000,85.000000,NaN,2.142,2.224,2.6777
2023-06-01 07:20:00,14.833333,-62.999898,6.766667,13.500000,37.666667,197.000000,26.666667,64.333333,22.200000,92.000000,943.766667,-113.333330,0.800000,83.999187,NaN,3.153,3.184,3.8208
2023-06-01 07:25:00,14.916667,-62.499873,6.083333,13.550000,43.833333,230.000000,31.833333,75.666667,22.150000,91.750000,943.833333,-113.166662,0.800000,82.998984,NaN,4.382,4.416,5.2992
2023-06-01 07:30:00,15.000000,-62.000000,5.400000,13.600000,50.000000,263.000000,37.000000,87.000000,22.100000,91.500000,943.900000,-113.000000,0.800000,82.000000,0.15,3.405,3.408,4.0896
2023-06-01 07:35:00,15.183333,-61.333634,8.750000,13.700000,61.000000,235.000000,34.500000,95.500000,22.100000,90.983333,943.966667,-112.833338,0.833333,81.001016,NaN,3.545,3.584,4.2865
2023-06-01 07:40:00,15.366667,-60.666907,12.100000,13.800000,72.000000,207.000000,32.000000,104.000000,22.100000,90.466667,944.033333,-112.666670,0.866667,80.000813,NaN,3.773,3.792,4.5504
2023-06-01 07:45:00,15.550000,-60.000000,15.450000,13.900000,83.000000,179.000000,29.500000,112.500000,22.100000,89.950000,944.100000,-112.500000,0.900000,79.000000,NaN,3.096,3.104,3.7373
2023-06-01 07:50:00,15.733333,-59.333093,18.800000,14.000000,94.000000,151.000000,27.000000,121.000000,22.100000,89.433333,944.166667,-112.333330,0.933333,77.999187,NaN,2.930,2.944,3.5328
2023-06-01 07:55:00,15.916667,-58.666366,22.150000,14.100000,105.000000,123.000000,24.500000,129.500000,22.100000,88.916667,944.233333,-112.166662,0.966667,76.998984,NaN,2.977,3.008,3.6096
2023-06-01 08:00:00,16.100000,-58.000000,25.500000,14.200000,116.000000,95.000000,22.000000,138.000000,22.100000,88.400000,944.300000,-112.000000,1.000000,76.000000,0.15,2.773,2.784,3.3297
2023-06-01 08:05:00,16.316667,-57.333634,29.300000,14.283333,121.000000,79.166667,18.333333,139.333333,22.100000,87.750000,944.350000,-113.165053,0.983333,75.001016,NaN,3.432,3.472,4.1664
2023-06-01 08:10:00,16.533333,-56.666907,33.100000,14.366667,126.000000,63.333333,14.666667,140.666667,22.100000,87.100000,944.400000,-114.332042,0.966667,74.000813,NaN,3.374,3.376,4.0647
2023-06-01 08:15:00,16.750000,-56.000000,36.900000,14.450000,131.000000,47.500000,11.000000,142.000000,22.100000,86.450000,944.450000,-115.500000,0.950000,73.000000,NaN,3.577,3.632,4.3584
2023-06-01 08:20:00,16.966667,-55.333093,40.700000,14.533333,136.000000,31.666667,7.333333,143.333333,22.100000,85.800000,944.500000,-116.667958,0.933333,71.999187,NaN,4.731,4.768,5.7216
2023-06-01 08:25:00,17.183333,-54.666366,44.500000,14.616667,141.000000,15.833333,3.666667,144.666667,22.100000,85.150000,944.550000,-117.834947,0.916667,70.998984,NaN,4.937,4.960,5.9520
2023-06-01 08:30:00,17.400000,-54.000000,48.300000,14.700000,146.000000,0.000000,0.000000,146.000000,22.100000,84.500000,944.600000,-119.000000,0.900000,70.000000,0.15,5.547,5.616,6.7392
2023-06-01 08:35:00,17.650000,-53.167254,48.016667,14.816667,155.000000,0.666667,0.333333,155.333333,22.100000,83.733333,944.633333,-122.456271,0.866667,69.167254,NaN,5.019,5.056,6.0672
2023-06-01 08:40:00,17.900000,-52.333804,47.733333,14.933333,164.000000,1.333333,0.666667,164.666667,22.100000,82.966667,944.666667,-125.964778,0.833333,68.333804,NaN,6.523,6.592,7.9104
2023-06-01 08:45:00,18.150000,-51.500000,47.450000,15.050000,173.000000,2.000000,1.000000,174.000000,22.100000,82.200000,944.700000,-129.500000,0.800000,67.500000,NaN,7.540,7.536,9.0432
2023-06-01 08:50:00,18.400000,-50.666196,47.166667,15.166667,182.000000,2.666667,1.333333,183.333333,22.100000,81.433333,944.733333,-133.035222,0.766667,66.666196,NaN,7.451,7.552,9.0323
2023-06-01 08:55:00,18.650000,-49.832746,46.883333,15.283333,191.000000,3.333333,1.666667,192.666667,22.100000,80.666667,944.766667,-136.543729,0.733333,65.832746,NaN,7.451,7.424,8.9386
2023-06-01 09:00:00,18.900000,-49.000000,46.600000,15.400000,200.000000,4.000000,2.000000,202.000000,22.100000,79.900000,944.800000,-140.000000,0.700000,65.000000,0.15,7.751,7.872,9.4150
2023-06-01 09:05:00,19.133333,-48.167254,42.750000,15.466667,203.666667,45.500000,23.500000,227.333333,22.100000,79.150000,944.816667,-142.484098,0.683333,64.001016,NaN,9.484,9.504,11.4429
2023-06-01 09:10:00,19.366667,-47.333804,38.900000,15.533333,207.333333,87.000000,45.000000,252.666667,22.100000,78.400000,944.833333,-144.987235,0.666667,63.000813,NaN,8.923,9.088,10.9056
2023-06-01 09:15:00,19.600000,-46.500000,35.050000,15.600000,211.000000,128.500000,66.500000,278.000000,22.100000,77.650000,944.850000,-147.500000,0.650000,62.000000,NaN,12.119,12.400,14.8306
2023-06-01 09:20:00,19.833333,-45.666196,31.200000,15.666667,214.666667,170.000000,88.000000,303.333333,22.100000,76.900000,944.866667,-150.012765,0.633333,60.999187,NaN,20.673,20.688,24.9086
2023-06-01 09:25:00,20.066667,-44.832746,27.350000,15.733333,218.333333,211.500000,109.500000,328.666667,22.100000,76.150000,944.883333,-152.515902,0.616667,59.998984,NaN,20.756,20.864,25.0368
2023-06-01 09:30:00,20.300000,-44.000000,23.500000,15.800000,222.000000,253.000000,131.000000,354.000000,22.100000,75.400000,944.900000,-155.000000,0.600000,59.000000,0.15,21.093,21.184,25.4208
2023-06-01 09:35:00,20.516667,-43.001016,19.900000,15.850000,202.500000,331.833333,178.833333,382.166667,22.100000,74.650000,944.916667,-155.499873,0.566667,58.333634,NaN,21.436,21.520,25.8240
2023-06-01 09:40:00,20.733333,-42.000813,16.300000,15.900000,183.000000,410.666667,226.666667,410.333333,22.100000,73.900000,944.933333,-155.999898,0.533333,57.666907,NaN,21.756,21.856,26.2272
2023-06-01 09:45:00,20.950000,-41.000000,12.700000,15.950000,163.500000,489.500000,274.500000,438.500000,22.100000,73.150000,944.950000,-156.500000,0.500000,57.000000,NaN,22.023,22.096,26.5152
2023-06-01 09:50:00,21.166667,-39.999187,9.100000,16.000000,144.000000,568.333333,322.333333,466.666667,22.100000,72.400000,944.966667,-157.000102,0.466667,56.333093,NaN,22.389,22.560,26.9821
2023-06-01 09:55:00,21.383333,-38.998984,5.500000,16.050000,124.500000,647.166667,370.166667,494.833333,22.100000,71.650000,944.983333,-157.500127,0.433333,55.666366,NaN,22.804,22.896,27.4752
2023-06-01 10:00:00,21.600000,-38.000000,1.900000,16.100000,105.000000,726.000000,418.000000,523.000000,22.100000,70.900000,945.000000,-158.000000,0.400000,55.000000,0.15,23.110,23.184,27.8208
2023-06-01 10:05:00,21.733333,-36.669075,1.583333,16.116667,102.833333,738.166667,431.833333,534.666667,22.050000,70.416667,944.950000,-155.189830,0.366667,54.333634,NaN,23.415,23.488,28.2799
2023-06-01 10:10:00,21.866667,-35.335262,1.266667,16.133333,100.666667,750.333333,445.666667,546.333333,22.000000,69.933333,944.900000,-152.351946,0.333333,53.666907,NaN,23.623,23.712,28.4544
2023-06-01 10:15:00,22.000000,-34.000000,0.950000,16.150000,98.500000,762.500000,459.500000,558.000000,21.950000,69.450000,944.850000,-149.500000,0.300000,53.000000,NaN,23.908,24.000,28.8000
2023-06-01 10:20:00,22.133333,-32.664738,0.633333,16.166667,96.333333,774.666667,473.333333,569.666667,21.900000,68.966667,944.800000,-146.648054,0.266667,52.333093,NaN,24.193,24.272,29.1264
2023-06-01 10:25:00,22.266667,-31.330925,0.316667,16.183333,94.166667,786.833333,487.166667,581.333333,21.850000,68.483333,944.750000,-143.810170,0.233333,51.666366,NaN,24.501,24.592,29.5104
2023-06-01 10:30:00,22.400000,-30.000000,0.000000,16.200000,92.000000,799.000000,501.000000,593.000000,21.800000,68.000000,944.700000,-141.000000,0.200000,51.000000,0.15,24.960,24.960,29.9520
2023-06-01 10:35:00,22.483333,-28.669075,0.000000,16.216667,92.500000,801.666667,508.333333,600.666667,21.733333,67.733333,944.616667,-130.932429,0.200000,50.500127,NaN,25.341,25.424,30.5088
2023-06-01 10:40:00,22.566667,-27.335262,0.000000,16.233333,93.000000,804.333333,515.666667,608.333333,21.666667,67.466667,944.533333,-118.874555,0.200000,50.000102,NaN,25.602,25.776,30.8284
2023-06-01 10:45:00,22.650000,-26.000000,0.000000,16.250000,93.500000,807.000000,523.000000,616.000000,21.600000,67.200000,944.450000,-105.500000,0.200000,49.500000,NaN,25.768,25.760,31.0154
2023-06-01 10:50:00,22.733333,-24.664738,0.000000,16.266667,94.000000,809.666667,530.333333,623.666667,21.533333,66.933333,944.366667,-92.125445,0.200000,48.999898,NaN,26.126,26.224,31.4688
2023-06-01 10:55:00,22.816667,-23.330925,0.000000,16.283333,94.500000,812.333333,537.666667,631.333333,21.466667,66.666667,944.283333,-80.067571,0.200000,48.499873,NaN,26.432,26.496,31.6896
2023-06-01 11:00:00,22.900000,-22.000000,0.000000,16.300000,95.000000,815.000000,545.000000,639.000000,21.400000,66.400000,944.200000,-70.000000,0.200000,48.000000,0.15,26.598,26.672,32.0064
2023-06-01 11:05:00,23.050000,-20.503430,0.000000,16.283333,95.666667,816.166667,549.333333,644.166667,21.283333,65.700000,944.116667,-68.172931,0.250000,47.666704,NaN,26.598,26.672,32.0064
2023-06-01 11:10:00,23.200000,-19.002747,0.000000,16.266667,96.333333,817.333333,553.666667,649.333333,21.166667,65.000000,944.033333,-66.338354,0.300000,47.333363,NaN,26.834,26.912,32.2944
2023-06-01 11:15:00,23.350000,-17.500000,0.000000,16.250000,97.000000,818.500000,558.000000,654.500000,21.050000,64.300000,943.950000,-64.500000,0.350000,47.000000,NaN,27.094,27.184,32.7299
2023-06-01 11:20:00,23.500000,-15.997253,0.000000,16.233333,97.666667,819.666667,562.333333,659.666667,20.933333,63.600000,943.866667,-62.661646,0.400000,46.666637,NaN,27.172,27.248,32.6976
2023-06-01 11:25:00,23.650000,-14.496570,0.000000,16.216667,98.333333,820.833333,566.666667,664.833333,20.816667,62.900000,943.783333,-60.827069,0.450000,46.333296,NaN,27.201,27.264,32.6081
2023-06-01 11:30:00,23.800000,-13.000000,0.000000,16.200000,99.000000,822.000000,571.000000,670.000000,20.700000,62.200000,943.700000,-59.000000,0.500000,46.000000,0.15,27.189,27.264,32.7168

### Create a label column for Power Loss Events

In [22]:
def classify_power_events(df):
    power_loss_values = [0] * len(df)
    consecutive_zeros = 0
    last_non_zero_export = None  # Track the last non-zero export_wh value

    for i in range(len(df)):
        export_kwh_value = df.iloc[i]['export_kwh']
        ptot_value = df.iloc[i]['ptot']

        if export_kwh_value == 0:
            consecutive_zeros += 1
            if last_non_zero_export is None:
                last_non_zero_export = export_kwh_value
        else:
            if consecutive_zeros > 0:
                time_in_minutes = consecutive_zeros * 5
                average_increase_per_minute = export_kwh_value/time_in_minutes

                # Check if it's a data gap or a power loss
                if average_increase_per_minute > 1:
                    # It's a data gap
                    power_loss_values[i - consecutive_zeros:i] = [3] * consecutive_zeros
                else:
                    # It's a power loss, determine the type
                    if consecutive_zeros < 22 or consecutive_zeros > 54:
                        power_loss_values[i - consecutive_zeros:i] = [2] * consecutive_zeros
                    else:
                        power_loss_values[i - consecutive_zeros:i] = [1] * consecutive_zeros

            # Reset for next sequence
            consecutive_zeros = 0
            last_non_zero_export = export_kwh_value

            # Mark the current value as normal operation
            power_loss_values[i] = 0

    # Check if the data ends with a zero sequence
    if consecutive_zeros > 0:
        if last_non_zero_export is not None and export_kwh_value > last_non_zero_export:
            power_loss_values[-consecutive_zeros:] = [3] * consecutive_zeros
        else:
            if consecutive_zeros < 22 or consecutive_zeros > 54:
                power_loss_values[-consecutive_zeros:] = [2] * consecutive_zeros
            else:
                power_loss_values[-consecutive_zeros:] = [1] * consecutive_zeros

    return power_loss_values

filtered_df['Power Loss Event'] = classify_power_events(filtered_df)

/tmp/ipykernel_99594/144523917.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Power Loss Event'] = classify_power_events(filtered_df)

In [23]:
filtered_df.head(60)

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot,Power Loss Event
tstamp,,,,,,,,,,,,,,,,,,,
2023-06-01 06:35:00,14.416667,-67.500127,18.666667,13.216667,2.166667,10.833333,1.000000,3.166667,22.816667,92.750000,943.166667,-115.666704,0.883333,93.001016,NaN,0.000,0.000,0.0000,2
2023-06-01 06:40:00,14.433333,-67.000102,16.833333,13.233333,4.333333,21.666667,2.000000,6.333333,22.733333,92.800000,943.233333,-115.333363,0.866667,92.000813,NaN,0.000,0.000,0.0000,2
2023-06-01 06:45:00,14.450000,-66.500000,15.000000,13.250000,6.500000,32.500000,3.000000,9.500000,22.650000,92.850000,943.300000,-115.000000,0.850000,91.000000,NaN,0.000,0.000,0.0000,2
2023-06-01 06:50:00,14.466667,-65.999898,13.166667,13.266667,8.666667,43.333333,4.000000,12.666667,22.566667,92.900000,943.366667,-114.666637,0.833333,89.999187,NaN,0.000,0.000,0.0000,2
2023-06-01 06:55:00,14.483333,-65.499873,11.333333,13.283333,10.833333,54.166667,5.000000,15.833333,22.483333,92.950000,943.433333,-114.333296,0.816667,88.998984,NaN,0.000,0.000,0.0000,2
2023-06-01 07:00:00,14.500000,-65.000000,9.500000,13.300000,13.000000,65.000000,6.000000,19.000000,22.400000,93.000000,943.500000,-114.000000,0.800000,88.000000,0.15,0.000,0.000,0.0000,2
2023-06-01 07:05:00,14.583333,-64.500127,8.816667,13.350000,19.166667,98.000000,11.166667,30.333333,22.350000,92.750000,943.566667,-113.833338,0.800000,87.001016,NaN,0.000,0.000,0.0000,2
2023-06-01 07:10:00,14.666667,-64.000102,8.133333,13.400000,25.333333,131.000000,16.333333,41.666667,22.300000,92.500000,943.633333,-113.666670,0.800000,86.000813,NaN,0.000,0.000,0.0000,2
2023-06-01 07:15:00,14.750000,-63.500000,7.450000,13.450000,31.500000,164.000000,21.500000,53.000000,22.250000,92.250000,943.700000,-113.500000,0.800000,85.000000,NaN,2.142,2.224,2.6777,0
2023-06-01 07:20:00,14.833333,-62.999898,6.766667,13.500000,37.666667,197.000000,26.666667,64.333333,22.200000,92.000000,943.766667,-113.333330,0.800000,83.999187,NaN,3.153,3.184,3.8208,0
2023-06-01 07:25:00,14.916667,-62.499873,6.083333,13.550000,43.833333,230.000000,31.833333,75.666667,22.150000,91.750000,943.833333,-113.166662,0.800000,82.998984,NaN,4.382,4.416,5.2992,0
2023-06-01 07:30:00,15.000000,-62.000000,5.400000,13.600000,50.000000,263.000000,37.000000,87.000000,22.100000,91.500000,943.900000,-113.000000,0.800000,82.000000,0.15,3.405,3.408,4.0896,0
2023-06-01 07:35:00,15.183333,-61.333634,8.750000,13.700000,61.000000,235.000000,34.500000,95.500000,22.100000,90.983333,943.966667,-112.833338,0.833333,81.001016,NaN,3.545,3.584,4.2865,0
2023-06-01 07:40:00,15.366667,-60.666907,12.100000,13.800000,72.000000,207.000000,32.000000,104.000000,22.100000,90.466667,944.033333,-112.666670,0.866667,80.000813,NaN,3.773,3.792,4.5504,0
2023-06-01 07:45:00,15.550000,-60.000000,15.450000,13.900000,83.000000,179.000000,29.500000,112.500000,22.100000,89.950000,944.100000,-112.500000,0.900000,79.000000,NaN,3.096,3.104,3.7373,0
2023-06-01 07:50:00,15.733333,-59.333093,18.800000,14.000000,94.000000,151.000000,27.000000,121.000000,22.100000,89.433333,944.166667,-112.333330,0.933333,77.999187,NaN,2.930,2.944,3.5328,0
2023-06-01 07:55:00,15.916667,-58.666366,22.150000,14.100000,105.000000,123.000000,24.500000,129.500000,22.100000,88.916667,944.233333,-112.166662,0.966667,76.998984,NaN,2.977,3.008,3.6096,0
2023-06-01 08:00:00,16.100000,-58.000000,25.500000,14.200000,116.000000,95.000000,22.000000,138.000000,22.100000,88.400000,944.300000,-112.000000,1.000000,76.000000,0.15,2.773,2.784,3.3297,0
2023-06-01 08:05:00,16.316667,-57.333634,29.300000,14.283333,121.000000,79.166667,18.333333,139.333333,22.100000,87.750000,944.350000,-113.165053,0.983333,75.001016,NaN,3.432,3.472,4.1664,0
2023-06-01 08:10:00,16.533333,-56.666907,33.100000,14.366667,126.000000,63.333333,14.666667,140.666667,22.100000,87.100000,944.400000,-114.332042,0.966667,74.000813,NaN,3.374,3.376,4.0647,0
2023-06-01 08:15:00,16.750000,-56.000000,36.900000,14.450000,131.000000,47.500000,11.000000,142.000000,22.100000,86.450000,944.450000,-115.500000,0.950000,73.000000,NaN,3.577,3.632,4.3584,0
2023-06-01 08:20:00,16.966667,-55.333093,40.700000,14.533333,136.000000,31.666667,7.333333,143.333333,22.100000,85.800000,944.500000,-116.667958,0.933333,71.999187,NaN,4.731,4.768,5.7216,0
2023-06-01 08:25:00,17.183333,-54.666366,44.500000,14.616667,141.000000,15.833333,3.666667,144.666667,22.100000,85.150000,944.550000,-117.834947,0.916667,70.998984,NaN,4.937,4.960,5.9520,0
2023-06-01 08:30:00,17.400000,-54.000000,48.300000,14.700000,146.000000,0.000000,0.000000,146.000000,22.100000,84.500000,944.600000,-119.000000,0.900000,70.000000,0.15,5.547,5.616,6.7392,0
2023-06-01 08:35:00,17.650000,-53.167254,48.016667,14.816667,155.000000,0.666667,0.333333,155.333333,22.100000,83.733333,944.633333,-122.456271,0.866667,69.167254,NaN,5.019,5.056,6.0672,0
2023-06-01 08:40:00,17.900000,-52.333804,47.733333,14.933333,164.000000,1.333333,0.666667,164.666667,22.100000,82.966667,944.666667,-125.964778,0.833333,68.333804,NaN,6.523,6.592,7.9104,0
2023-06-01 08:45:00,18.150000,-51.500000,47.450000,15.050000,173.000000,2.000000,1.000000,174.000000,22.100000,82.200000,944.700000,-129.500000,0.800000,67.500000,NaN,7.540,7.536,9.0432,0
2023-06-01 08:50:00,18.400000,-50.666196,47.166667,15.166667,182.000000,2.666667,1.333333,183.333333,22.100000,81.433333,944.733333,-133.035222,0.766667,66.666196,NaN,7.451,7.552,9.0323,0
2023-06-01 08:55:00,18.650000,-49.832746,46.883333,15.283333,191.000000,3.333333,1.666667,192.666667,22.100000,80.666667,944.766667,-136.543729,0.733333,65.832746,NaN,7.451,7.424,8.9386,0
2023-06-01 09:00:00,18.900000,-49.000000,46.600000,15.400000,200.000000,4.000000,2.000000,202.000000,22.100000,79.900000,944.800000,-140.000000,0.700000,65.000000,0.15,7.751,7.872,9.4150,0
2023-06-01 09:05:00,19.133333,-48.167254,42.750000,15.466667,203.666667,45.500000,23.500000,227.333333,22.100000,79.150000,944.816667,-142.484098,0.683333,64.001016,NaN,9.484,9.504,11.4429,0
2023-06-01 09:10:00,19.366667,-47.333804,38.900000,15.533333,207.333333,87.000000,45.000000,252.666667,22.100000,78.400000,944.833333,-144.987235,0.666667,63.000813,NaN,8.923,9.088,10.9056,0
2023-06-01 09:15:00,19.600000,-46.500000,35.050000,15.600000,211.000000,128.500000,66.500000,278.000000,22.100000,77.650000,944.850000,-147.500000,0.650000,62.000000,NaN,12.119,12.400,14.8306,0
2023-06-01 09:20:00,19.833333,-45.666196,31.200000,15.666667,214.666667,170.000000,88.000000,303.333333,22.100000,76.900000,944.866667,-150.012765,0.633333,60.999187,NaN,20.673,20.688,24.9086,0
2023-06-01 09:25:00,20.066667,-44.832746,27.350000,15.733333,218.333333,211.500000,109.500000,328.666667,22.100000,76.150000,944.883333,-152.515902,0.616667,59.998984,NaN,20.756,20.864,25.0368,0
2023-06-01 09:30:00,20.300000,-44.000000,23.500000,15.800000,222.000000,253.000000,131.000000,354.000000,22.100000,75.400000,944.900000,-155.000000,0.600000,59.000000,0.15,21.093,21.184,25.4208,0
2023-06-01 09:35:00,20.516667,-43.001016,19.900000,15.850000,202.500000,331.833333,178.833333,382.166667,22.100000,74.650000,944.916667,-155.499873,0.566667,58.333634,NaN,21.436,21.520,25.8240,0
2023-06-01 09:40:00,20.733333,-42.000813,16.300000,15.900000,183.000000,410.666667,226.666667,410.333333,22.100000,73.900000,944.933333,-155.999898,0.533333,57.666907,NaN,21.756,21.856,26.2272,0
2023-06-01 09:45:00,20.950000,-41.000000,12.700000,15.950000,163.500000,489.500000,274.500000,438.500000,22.100000,73.150000,944.950000,-156.500000,0.500000,57.000000,NaN,22.023,22.096,26.5152,0
2023-06-01 09:50:00,21.166667,-39.999187,9.100000,16.000000,144.000000,568.333333,322.333333,466.666667,22.100000,72.400000,944.966667,-157.000102,0.466667,56.333093,NaN,22.389,22.560,26.9821,0
2023-06-01 09:55:00,21.383333,-38.998984,5.500000,16.050000,124.500000,647.166667,370.166667,494.833333,22.100000,71.650000,944.983333,-157.500127,0.433333,55.666366,NaN,22.804,22.896,27.4752,0
2023-06-01 10:00:00,21.600000,-38.000000,1.900000,16.100000,105.000000,726.000000,418.000000,523.000000,22.100000,70.900000,945.000000,-158.000000,0.400000,55.000000,0.15,23.110,23.184,27.8208,0
2023-06-01 10:05:00,21.733333,-36.669075,1.583333,16.116667,102.833333,738.166667,431.833333,534.666667,22.050000,70.416667,944.950000,-155.189830,0.366667,54.333634,NaN,23.415,23.488,28.2799,0
2023-06-01 10:10:00,21.866667,-35.335262,1.266667,16.133333,100.666667,750.333333,445.666667,546.333333,22.000000,69.933333,944.900000,-152.351946,0.333333,53.666907,NaN,23.623,23.712,28.4544,0
2023-06-01 10:15:00,22.000000,-34.000000,0.950000,16.150000,98.500000,762.500000,459.500000,558.000000,21.950000,69.450000,944.850000,-149.500000,0.300000,53.000000,NaN,23.908,24.000,28.8000,0
2023-06-01 10:20:00,22.133333,-32.664738,0.633333,16.166667,96.333333,774.666667,473.333333,569.666667,21.900000,68.966667,944.800000,-146.648054,0.266667,52.333093,NaN,24.193,24.272,29.1264,0
2023-06-01 10:25:00,22.266667,-31.330925,0.316667,16.183333,94.166667,786.833333,487.166667,581.333333,21.850000,68.483333,944.750000,-143.810170,0.233333,51.666366,NaN,24.501,24.592,29.5104,0
2023-06-01 10:30:00,22.400000,-30.000000,0.000000,16.200000,92.000000,799.000000,501.000000,593.000000,21.800000,68.000000,944.700000,-141.000000,0.200000,51.000000,0.15,24.960,24.960,29.9520,0
2023-06-01 10:35:00,22.483333,-28.669075,0.000000,16.216667,92.500000,801.666667,508.333333,600.666667,21.733333,67.733333,944.616667,-130.932429,0.200000,50.500127,NaN,25.341,25.424,30.5088,0
2023-06-01 10:40:00,22.566667,-27.335262,0.000000,16.233333,93.000000,804.333333,515.666667,608.333333,21.666667,67.466667,944.533333,-118.874555,0.200000,50.000102,NaN,25.602,25.776,30.8284,0
2023-06-01 10:45:00,22.650000,-26.000000,0.000000,16.250000,93.500000,807.000000,523.000000,616.000000,21.600000,67.200000,944.450000,-105.500000,0.200000,49.500000,NaN,25.768,25.760,31.0154,0
2023-06-01 10:50:00,22.733333,-24.664738,0.000000,16.266667,94.000000,809.666667,530.333333,623.666667,21.533333,66.933333,944.366667,-92.125445,0.200000,48.999898,NaN,26.126,26.224,31.4688,0
2023-06-01 10:55:00,22.816667,-23.330925,0.000000,16.283333,94.500000,812.333333,537.666667,631.333333,21.466667,66.666667,944.283333,-80.067571,0.200000,48.499873,NaN,26.432,26.496,31.6896,0
2023-06-01 11:00:00,22.900000,-22.000000,0.000000,16.300000,95.000000,815.000000,545.000000,639.000000,21.400000,66.400000,944.200000,-70.000000,0.200000,48.000000,0.15,26.598,26.672,32.0064,0
2023-06-01 11:05:00,23.050000,-20.503430,0.000000,16.283333,95.666667,816.166667,549.333333,644.166667,21.283333,65.700000,944.116667,-68.172931,0.250000,47.666704,NaN,26.598,26.672,32.0064,0
2023-06-01 11:10:00,23.200000,-19.002747,0.000000,16.266667,96.333333,817.333333,553.666667,649.333333,21.166667,65.000000,944.033333,-66.338354,0.300000,47.333363,NaN,26.834,26.912,32.2944,0
2023-06-01 11:15:00,23.350000,-17.500000,0.000000,16.250000,97.000000,818.500000,558.000000,654.500000,21.050000,64.300000,943.950000,-64.500000,0.350000,47.000000,NaN,27.094,27.184,32.7299,0
2023-06-01 11:20:00,23.500000,-15.997253,0.000000,16.233333,97.666667,819.666667,562.333333,659.666667,20.933333,63.600000,943.866667,-62.661646,0.400000,46.666637,NaN,27.172,27.248,32.6976,0
2023-06-01 11:25:00,23.650000,-14.496570,0.000000,16.216667,98.333333,820.833333,566.666667,664.833333,20.816667,62.900000,943.783333,-60.827069,0.450000,46.333296,NaN,27.201,27.264,32.6081,0
2023-06-01 11:30:00,23.800000,-13.000000,0.000000,16.200000,99.000000,822.000000,571.000000,670.000000,20.700000,62.200000,943.700000,-59.000000,0.500000,46.000000,0.15,27.189,27.264,32.7168,0

In [24]:
# Define the start and end timestamps for the range
start_timestamp = pd.Timestamp('2024-03-20 08:30:00')
end_timestamp = pd.Timestamp('2024-03-20 19:00:00')

# Filter rows based on the timestamp range
filtered_df_ = filtered_df[(filtered_df.index >= start_timestamp) & (filtered_df.index < end_timestamp)]

filtered_df_.head(60)

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot,Power Loss Event
tstamp,,,,,,,,,,,,,,,,,,,
2024-03-20 08:30:00,25.200000,-77.000000,0.000000,21.200000,109.000000,668.000000,330.000000,439.000000,37.200000,78.500000,945.000000,100.000000,1.300000,60.000000,0.15,21.441,21.64,25.8817,0
2024-03-20 08:35:00,25.283333,-76.167254,0.000000,21.216667,111.000000,677.000000,346.166667,457.166667,37.233333,78.200000,945.050000,100.000000,1.350000,59.001016,NaN,22.264,22.40,26.3362,0
2024-03-20 08:40:00,25.366667,-75.333804,0.000000,21.233333,113.000000,686.000000,362.333333,475.333333,37.266667,77.900000,945.100000,100.000000,1.400000,58.000813,NaN,23.049,23.10,27.8127,0
2024-03-20 08:45:00,25.450000,-74.500000,0.000000,21.250000,115.000000,695.000000,378.500000,493.500000,37.300000,77.600000,945.150000,100.000000,1.450000,57.000000,NaN,23.670,23.74,28.4880,0
2024-03-20 08:50:00,25.533333,-73.666196,0.000000,21.266667,117.000000,704.000000,394.666667,511.666667,37.333333,77.300000,945.200000,100.000000,1.500000,55.999187,NaN,24.371,24.45,29.3400,0
2024-03-20 08:55:00,25.616667,-72.832746,0.000000,21.283333,119.000000,713.000000,410.833333,529.833333,37.366667,77.000000,945.250000,100.000000,1.550000,54.998984,NaN,25.021,25.22,30.1635,0
2024-03-20 09:00:00,25.700000,-72.000000,0.000000,21.300000,121.000000,722.000000,427.000000,548.000000,37.400000,76.700000,945.300000,100.000000,1.600000,54.000000,0.15,25.851,25.92,31.1040,0
2024-03-20 09:05:00,25.866667,-71.167254,0.000000,21.333333,122.666667,728.166667,441.666667,564.333333,37.416667,76.066667,945.316667,100.166662,1.650000,52.834947,NaN,26.502,26.56,31.9786,0
2024-03-20 09:10:00,26.033333,-70.333804,0.000000,21.366667,124.333333,734.333333,456.333333,580.666667,37.433333,75.433333,945.333333,100.333330,1.700000,51.667958,NaN,27.059,27.20,32.5316,0
2024-03-20 09:15:00,26.200000,-69.500000,0.000000,21.400000,126.000000,740.500000,471.000000,597.000000,37.450000,74.800000,945.350000,100.500000,1.750000,50.500000,NaN,27.593,27.71,33.3632,0
2024-03-20 09:20:00,26.366667,-68.666196,0.000000,21.433333,127.666667,746.666667,485.666667,613.333333,37.466667,74.166667,945.366667,100.666670,1.800000,49.332042,NaN,28.223,28.35,34.0200,0
2024-03-20 09:25:00,26.533333,-67.832746,0.000000,21.466667,129.333333,752.833333,500.333333,629.666667,37.483333,73.533333,945.383333,100.833338,1.850000,48.165053,NaN,28.461,28.55,34.2600,0
2024-03-20 09:30:00,26.700000,-67.000000,0.000000,21.500000,131.000000,759.000000,515.000000,646.000000,37.500000,72.900000,945.400000,101.000000,1.900000,47.000000,0.15,29.021,29.18,34.8997,0
2024-03-20 09:35:00,26.950000,-66.001016,0.000000,21.516667,132.333333,763.833333,528.166667,660.500000,37.500000,71.983333,945.383333,101.333296,1.966667,46.001016,NaN,29.547,29.57,35.6027,0
2024-03-20 09:40:00,27.200000,-65.000813,0.000000,21.533333,133.666667,768.666667,541.333333,675.000000,37.500000,71.066667,945.366667,101.666637,2.033333,45.000813,NaN,30.106,30.27,36.2033,0
2024-03-20 09:45:00,27.450000,-64.000000,0.000000,21.550000,135.000000,773.500000,554.500000,689.500000,37.500000,70.150000,945.350000,102.000000,2.100000,44.000000,NaN,30.716,0.00,0.0000,3
2024-03-20 09:50:00,27.700000,-62.999187,0.000000,21.566667,136.333333,778.333333,567.666667,704.000000,37.500000,69.233333,945.333333,102.333363,2.166667,42.999187,NaN,31.234,62.02,37.2120,0
2024-03-20 09:55:00,27.950000,-61.998984,0.000000,21.583333,137.666667,783.166667,580.833333,718.500000,37.500000,68.316667,945.316667,102.666704,2.233333,41.998984,NaN,31.831,31.93,38.3160,0
2024-03-20 10:00:00,28.200000,-61.000000,0.000000,21.600000,139.000000,788.000000,594.000000,733.000000,37.500000,67.400000,945.300000,103.000000,2.300000,41.000000,0.15,32.202,0.00,0.0000,3
2024-03-20 10:05:00,28.316667,-59.834947,0.766667,21.600000,149.333333,772.666667,589.333333,738.666667,37.516667,66.950000,945.283333,103.499873,2.366667,40.001016,NaN,32.617,0.00,0.0000,3
2024-03-20 10:10:00,28.433333,-58.667958,1.533333,21.600000,159.666667,757.333333,584.666667,744.333333,37.533333,66.500000,945.266667,103.999898,2.433333,39.000813,NaN,32.467,97.60,38.9103,0
2024-03-20 10:15:00,28.550000,-57.500000,2.300000,21.600000,170.000000,742.000000,580.000000,750.000000,37.550000,66.050000,945.250000,104.500000,2.500000,38.000000,NaN,33.189,33.28,39.9360,0
2024-03-20 10:20:00,28.666667,-56.332042,3.066667,21.600000,180.333333,726.666667,575.333333,755.666667,37.566667,65.600000,945.233333,105.000102,2.566667,36.999187,NaN,34.250,34.31,41.3097,0
2024-03-20 10:25:00,28.783333,-55.165053,3.833333,21.600000,190.666667,711.333333,570.666667,761.333333,37.583333,65.150000,945.216667,105.500127,2.633333,35.998984,NaN,34.518,34.62,41.5440,0
2024-03-20 10:30:00,28.900000,-54.000000,4.600000,21.600000,201.000000,696.000000,566.000000,767.000000,37.600000,64.700000,945.200000,106.000000,2.700000,35.000000,0.15,35.439,35.39,42.4680,0
2024-03-20 10:35:00,28.916667,-52.338039,6.900000,21.600000,230.000000,643.333333,526.500000,756.333333,37.633333,64.666667,945.183333,106.666366,2.766667,34.167254,NaN,28.139,28.23,33.7635,0
2024-03-20 10:40:00,28.933333,-50.670437,9.200000,21.600000,259.000000,590.666667,487.000000,745.666667,37.666667,64.633333,945.166667,107.333093,2.833333,33.333804,NaN,39.480,0.00,0.0000,3
2024-03-20 10:45:00,28.950000,-49.000000,11.500000,21.600000,288.000000,538.000000,447.500000,735.000000,37.700000,64.600000,945.150000,108.000000,2.900000,32.500000,NaN,37.338,77.05,46.2300,0
2024-03-20 10:50:00,28.966667,-47.329563,13.800000,21.600000,317.000000,485.333333,408.000000,724.333333,37.733333,64.566667,945.133333,108.666907,2.966667,31.666196,NaN,36.451,36.48,43.7760,0
2024-03-20 10:55:00,28.983333,-45.661961,16.100000,21.600000,346.000000,432.666667,368.500000,713.666667,37.766667,64.533333,945.116667,109.333634,3.033333,30.832746,NaN,36.666,36.74,44.0880,0
2024-03-20 11:00:00,29.000000,-44.000000,18.400000,21.600000,375.000000,380.000000,329.000000,703.000000,37.800000,64.500000,945.100000,110.000000,3.100000,30.000000,0.15,37.131,37.18,44.6160,0
2024-03-20 11:05:00,29.033333,-41.679592,19.283333,21.583333,386.166667,362.166667,315.000000,700.166667,37.900000,64.316667,945.066667,110.166662,3.150000,29.333634,NaN,36.873,36.99,44.3880,0
2024-03-20 11:10:00,29.066667,-39.343704,20.166667,21.566667,397.333333,344.333333,301.000000,697.333333,38.000000,64.133333,945.033333,110.333330,3.200000,28.666907,NaN,31.866,31.88,38.2560,0
2024-03-20 11:15:00,29.100000,-37.000000,21.050000,21.550000,408.500000,326.500000,287.000000,694.500000,38.100000,63.950000,945.000000,110.500000,3.250000,28.000000,NaN,36.690,36.60,43.7741,0
2024-03-20 11:20:00,29.133333,-34.656296,21.933333,21.533333,419.666667,308.666667,273.000000,691.666667,38.200000,63.766667,944.966667,110.666670,3.300000,27.333093,NaN,16.611,16.58,19.8960,0
2024-03-20 11:25:00,29.166667,-32.320408,22.816667,21.516667,430.833333,290.833333,259.000000,688.833333,38.300000,63.583333,944.933333,110.833338,3.350000,26.666366,NaN,36.649,37.18,44.6160,0
2024-03-20 11:30:00,29.200000,-30.000000,23.700000,21.500000,442.000000,273.000000,245.000000,686.000000,38.400000,63.400000,944.900000,111.000000,3.400000,26.000000,0.15,35.999,35.52,42.6240,0
2024-03-20 11:35:00,29.250000,-27.189830,24.450000,21.483333,450.000000,258.333333,232.500000,681.666667,38.533333,63.100000,944.883333,111.166662,3.433333,25.500127,NaN,18.584,18.63,22.4308,0
2024-03-20 11:40:00,29.300000,-24.351946,25.200000,21.466667,458.000000,243.666667,220.000000,677.333333,38.666667,62.800000,944.866667,111.333330,3.466667,25.000102,NaN,18.472,18.75,22.5000,0
2024-03-20 11:45:00,29.350000,-21.500000,25.950000,21.450000,466.000000,229.000000,207.500000,673.000000,38.800000,62.500000,944.850000,111.500000,3.500000,24.500000,NaN,37.344,37.31,44.7720,0
2024-03-20 11:50:00,29.400000,-18.648054,26.700000,21.433333,474.000000,214.333333,195.000000,668.666667,38.933333,62.200000,944.833333,111.666670,3.533333,23.999898,NaN,34.637,35.07,41.9442,0
2024-03-20 11:55:00,29.450000,-15.810170,27.450000,21.416667,482.000000,199.666667,182.500000,664.333333,39.066667,61.900000,944.816667,111.833338,3.566667,23.499873,NaN,28.582,28.55,34.3746,0
2024-03-20 12:00:00,29.500000,-13.000000,28.200000,21.400000,490.000000,185.000000,170.000000,660.000000,39.200000,61.600000,944.800000,112.000000,3.600000,23.000000,0.15,41.554,41.79,50.1480,0
2024-03-20 12:05:00,29.533333,-9.865695,28.233333,21.400000,490.833333,184.166667,169.333333,660.000000,39.283333,61.500000,944.783333,112.000000,3.633333,23.000000,NaN,34.246,34.43,41.3160,0
2024-03-20 12:10:00,29.566667,-6.692700,28.266667,21.400000,491.666667,183.333333,168.666667,660.000000,39.366667,61.400000,944.766667,112.000000,3.666667,23.000000,NaN,42.320,42.11,45.9240,0
2024-03-20 12:15:00,29.600000,-3.500000,28.300000,21.400000,492.500000,182.500000,168.000000,660.000000,39.450000,61.300000,944.750000,112.000000,3.700000,23.000000,NaN,22.979,22.72,27.2640,0
2024-03-20 12:20:00,29.633333,-0.307300,28.333333,21.400000,493.333333,181.666667,167.333333,660.000000,39.533333,61.200000,944.733333,112.000000,3.733333,23.000000,NaN,27.517,28.23,33.8760,0
2024-03-20 12:25:00,29.666667,2.865695,28.366667,21.400000,494.166667,180.833333,166.666667,660.000000,39.616667,61.100000,944.716667,112.000000,3.766667,23.000000,NaN,29.787,29.31,35.1720,0
2024-03-20 12:30:00,29.700000,6.000000,28.400000,21.400000,495.000000,180.000000,166.000000,660.000000,39.700000,61.000000,944.700000,112.000000,3.800000,23.000000,0.15,16.770,16.90,20.2800,0
2024-03-20 12:35:00,29.683333,8.972494,30.683333,21.416667,496.166667,154.166667,142.166667,637.500000,39.733333,61.083333,944.683333,112.000000,3.833333,23.333296,NaN,22.838,23.36,28.0320,0
2024-03-20 12:40:00,29.666667,11.977886,32.966667,21.433333,497.333333,128.333333,118.333333,615.000000,39.766667,61.166667,944.666667,112.000000,3.866667,23.666637,NaN,20.655,0.00,0.0000,3
2024-03-20 12:45:00,29.650000,15.000000,35.250000,21.450000,498.500000,102.500000,94.500000,592.500000,39.800000,61.250000,944.650000,112.000000,3.900000,24.000000,NaN,17.292,37.69,22.6140,0
2024-03-20 12:50:00,29.633333,18.022114,37.533333,21.466667,499.666667,76.666667,70.666667,570.000000,39.833333,61.333333,944.633333,112.000000,3.933333,24.333363,NaN,20.448,20.61,24.7320,0
2024-03-20 12:55:00,29.616667,21.027506,39.816667,21.483333,500.833333,50.833333,46.833333,547.500000,39.866667,61.416667,944.616667,112.000000,3.966667,24.666704,NaN,23.812,23.87,28.6440,0
2024-03-20 13:00:00,29.600000,24.000000,42.100000,21.500000,502.000000,25.000000,23.000000,525.000000,39.900000,61.500000,944.600000,112.000000,4.000000,25.000000,0.15,18.679,18.75,22.4252,0
2024-03-20 13:05:00,29.566667,26.484098,45.016667,21.500000,477.166667,20.833333,19.166667,496.333333,39.950000,61.666667,944.566667,112.000000,4.016667,25.499873,NaN,17.783,17.80,21.4314,0
2024-03-20 13:10:00,29.533333,28.987235,47.933333,21.500000,452.333333,16.666667,15.333333,467.666667,40.000000,61.833333,944.533333,112.000000,4.033333,25.999898,NaN,14.774,14.78,17.6771,0
2024-03-20 13:15:00,29.500000,31.500000,50.850000,21.500000,427.500000,12.500000,11.500000,439.000000,40.050000,62.000000,944.500000,112.000000,4.050000,26.500000,NaN,12.515,12.54,16.3375,0
2024-03-20 13:20:00,29.466667,34.012765,53.766667,21.500000,402.666667,8.333333,7.666667,410.333333,40.100000,62.166667,944.466667,112.000000,4.066667,27.000102,NaN,13.067,13.19,15.8809,0
2024-03-20 13:25:00,29.433333,36.515902,56.683333,21.500000,377.833333,4.166667,3.833333,381.666667,40.150000,62.333333,944.433333,112.000000,4.083333,27.500127,NaN,12.390,12.41,14.8920,0

## Month, Week, Day Analysis

In [25]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

# Define features and target
features = ['AirTemp', 'Azimuth', 'CloudOpacity', 'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi', 'PrecipitableWater', 'RelativeHumidity', 'WindDirection10m', 'WindSpeed10m', 'Zenith']
target = 'ptot'

# Split the data into its labelled periods
filtered_df_normal = filtered_df[filtered_df['Power Loss Event'] == 0]
filtered_df_loadshedding = filtered_df[filtered_df['Power Loss Event'] == 1]
filtered_df_power_loss = filtered_df[filtered_df['Power Loss Event'] == 2]
filtered_df_data_gap = filtered_df[filtered_df['Power Loss Event'] == 3]

# Train a model on the normal periods
X_train = filtered_df_normal[features]
y_train = filtered_df_normal[target]

# Using a Random Forest Regressor for prediction
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Perform cross-validation
cv_scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
mse_cv_mean = -np.mean(cv_scores)  # Take the negative of the mean to get MSE
print(f'Cross-validated Mean Squared Error: {mse_cv_mean}')

# Train the final model on the full training set
model.fit(X_train, y_train)

# Predict ptot for LOADSHEDDING periods
X_loadshedding = filtered_df_loadshedding[features]
y_pred = model.predict(X_loadshedding)

# Predict ptot for POWER LOSS periods
X_power_loss = filtered_df_power_loss[features]
y_pred_pl = model.predict(X_power_loss)

# Predict ptot for DATA GAP periods
X_data_gap = filtered_df_data_gap[features]
y_pred_dg = model.predict(X_data_gap)

# Create new dfs with the estimated ptot
filtered_df_loadshedding = filtered_df_loadshedding.copy()
filtered_df_power_loss = filtered_df_power_loss.copy()
filtered_df_data_gap = filtered_df_data_gap.copy()

filtered_df_loadshedding['estimated_ptot'] = y_pred
filtered_df_power_loss['estimated_ptot'] = y_pred_pl
filtered_df_data_gap['estimated_ptot'] = y_pred_dg

# Combine the original ptot with the estimated values
filtered_df_combined = filtered_df.copy()
filtered_df_combined['predicted_ptot'] = filtered_df_combined['ptot']

filtered_df_combined.loc[filtered_df_combined['Power Loss Event'] == 1, 'predicted_ptot'] = filtered_df_loadshedding['estimated_ptot']
filtered_df_combined.loc[filtered_df_combined['Power Loss Event'] == 2, 'predicted_ptot'] = filtered_df_power_loss['estimated_ptot']
filtered_df_combined.loc[filtered_df_combined['Power Loss Event'] == 3, 'predicted_ptot'] = filtered_df_data_gap['estimated_ptot']

# Optional: Validate the model performance using some metrics
#X_test = filtered_df_normal[features]
#y_test = filtered_df_normal[target]
#y_test_pred = model.predict(X_test)
#mse = mean_squared_error(y_test, y_test_pred)
#print(f'Mean Squared Error on Test Data: {mse}')

Cross-validated Mean Squared Error: 22.081527293032273

In [26]:
filtered_df_combined.head(60)

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot,Power Loss Event,predicted_ptot
tstamp,,,,,,,,,,,,,,,,,,,,
2023-06-01 06:35:00,14.416667,-67.500127,18.666667,13.216667,2.166667,10.833333,1.000000,3.166667,22.816667,92.750000,943.166667,-115.666704,0.883333,93.001016,NaN,0.000,0.000,0.0000,2,0.09074
2023-06-01 06:40:00,14.433333,-67.000102,16.833333,13.233333,4.333333,21.666667,2.000000,6.333333,22.733333,92.800000,943.233333,-115.333363,0.866667,92.000813,NaN,0.000,0.000,0.0000,2,0.29298
2023-06-01 06:45:00,14.450000,-66.500000,15.000000,13.250000,6.500000,32.500000,3.000000,9.500000,22.650000,92.850000,943.300000,-115.000000,0.850000,91.000000,NaN,0.000,0.000,0.0000,2,0.57262
2023-06-01 06:50:00,14.466667,-65.999898,13.166667,13.266667,8.666667,43.333333,4.000000,12.666667,22.566667,92.900000,943.366667,-114.666637,0.833333,89.999187,NaN,0.000,0.000,0.0000,2,0.89904
2023-06-01 06:55:00,14.483333,-65.499873,11.333333,13.283333,10.833333,54.166667,5.000000,15.833333,22.483333,92.950000,943.433333,-114.333296,0.816667,88.998984,NaN,0.000,0.000,0.0000,2,1.23660
2023-06-01 07:00:00,14.500000,-65.000000,9.500000,13.300000,13.000000,65.000000,6.000000,19.000000,22.400000,93.000000,943.500000,-114.000000,0.800000,88.000000,0.15,0.000,0.000,0.0000,2,1.49106
2023-06-01 07:05:00,14.583333,-64.500127,8.816667,13.350000,19.166667,98.000000,11.166667,30.333333,22.350000,92.750000,943.566667,-113.833338,0.800000,87.001016,NaN,0.000,0.000,0.0000,2,1.78353
2023-06-01 07:10:00,14.666667,-64.000102,8.133333,13.400000,25.333333,131.000000,16.333333,41.666667,22.300000,92.500000,943.633333,-113.666670,0.800000,86.000813,NaN,0.000,0.000,0.0000,2,2.21983
2023-06-01 07:15:00,14.750000,-63.500000,7.450000,13.450000,31.500000,164.000000,21.500000,53.000000,22.250000,92.250000,943.700000,-113.500000,0.800000,85.000000,NaN,2.142,2.224,2.6777,0,2.14200
2023-06-01 07:20:00,14.833333,-62.999898,6.766667,13.500000,37.666667,197.000000,26.666667,64.333333,22.200000,92.000000,943.766667,-113.333330,0.800000,83.999187,NaN,3.153,3.184,3.8208,0,3.15300
2023-06-01 07:25:00,14.916667,-62.499873,6.083333,13.550000,43.833333,230.000000,31.833333,75.666667,22.150000,91.750000,943.833333,-113.166662,0.800000,82.998984,NaN,4.382,4.416,5.2992,0,4.38200
2023-06-01 07:30:00,15.000000,-62.000000,5.400000,13.600000,50.000000,263.000000,37.000000,87.000000,22.100000,91.500000,943.900000,-113.000000,0.800000,82.000000,0.15,3.405,3.408,4.0896,0,3.40500
2023-06-01 07:35:00,15.183333,-61.333634,8.750000,13.700000,61.000000,235.000000,34.500000,95.500000,22.100000,90.983333,943.966667,-112.833338,0.833333,81.001016,NaN,3.545,3.584,4.2865,0,3.54500
2023-06-01 07:40:00,15.366667,-60.666907,12.100000,13.800000,72.000000,207.000000,32.000000,104.000000,22.100000,90.466667,944.033333,-112.666670,0.866667,80.000813,NaN,3.773,3.792,4.5504,0,3.77300
2023-06-01 07:45:00,15.550000,-60.000000,15.450000,13.900000,83.000000,179.000000,29.500000,112.500000,22.100000,89.950000,944.100000,-112.500000,0.900000,79.000000,NaN,3.096,3.104,3.7373,0,3.09600
2023-06-01 07:50:00,15.733333,-59.333093,18.800000,14.000000,94.000000,151.000000,27.000000,121.000000,22.100000,89.433333,944.166667,-112.333330,0.933333,77.999187,NaN,2.930,2.944,3.5328,0,2.93000
2023-06-01 07:55:00,15.916667,-58.666366,22.150000,14.100000,105.000000,123.000000,24.500000,129.500000,22.100000,88.916667,944.233333,-112.166662,0.966667,76.998984,NaN,2.977,3.008,3.6096,0,2.97700
2023-06-01 08:00:00,16.100000,-58.000000,25.500000,14.200000,116.000000,95.000000,22.000000,138.000000,22.100000,88.400000,944.300000,-112.000000,1.000000,76.000000,0.15,2.773,2.784,3.3297,0,2.77300
2023-06-01 08:05:00,16.316667,-57.333634,29.300000,14.283333,121.000000,79.166667,18.333333,139.333333,22.100000,87.750000,944.350000,-113.165053,0.983333,75.001016,NaN,3.432,3.472,4.1664,0,3.43200
2023-06-01 08:10:00,16.533333,-56.666907,33.100000,14.366667,126.000000,63.333333,14.666667,140.666667,22.100000,87.100000,944.400000,-114.332042,0.966667,74.000813,NaN,3.374,3.376,4.0647,0,3.37400
2023-06-01 08:15:00,16.750000,-56.000000,36.900000,14.450000,131.000000,47.500000,11.000000,142.000000,22.100000,86.450000,944.450000,-115.500000,0.950000,73.000000,NaN,3.577,3.632,4.3584,0,3.57700
2023-06-01 08:20:00,16.966667,-55.333093,40.700000,14.533333,136.000000,31.666667,7.333333,143.333333,22.100000,85.800000,944.500000,-116.667958,0.933333,71.999187,NaN,4.731,4.768,5.7216,0,4.73100
2023-06-01 08:25:00,17.183333,-54.666366,44.500000,14.616667,141.000000,15.833333,3.666667,144.666667,22.100000,85.150000,944.550000,-117.834947,0.916667,70.998984,NaN,4.937,4.960,5.9520,0,4.93700
2023-06-01 08:30:00,17.400000,-54.000000,48.300000,14.700000,146.000000,0.000000,0.000000,146.000000,22.100000,84.500000,944.600000,-119.000000,0.900000,70.000000,0.15,5.547,5.616,6.7392,0,5.54700
2023-06-01 08:35:00,17.650000,-53.167254,48.016667,14.816667,155.000000,0.666667,0.333333,155.333333,22.100000,83.733333,944.633333,-122.456271,0.866667,69.167254,NaN,5.019,5.056,6.0672,0,5.01900
2023-06-01 08:40:00,17.900000,-52.333804,47.733333,14.933333,164.000000,1.333333,0.666667,164.666667,22.100000,82.966667,944.666667,-125.964778,0.833333,68.333804,NaN,6.523,6.592,7.9104,0,6.52300
2023-06-01 08:45:00,18.150000,-51.500000,47.450000,15.050000,173.000000,2.000000,1.000000,174.000000,22.100000,82.200000,944.700000,-129.500000,0.800000,67.500000,NaN,7.540,7.536,9.0432,0,7.54000
2023-06-01 08:50:00,18.400000,-50.666196,47.166667,15.166667,182.000000,2.666667,1.333333,183.333333,22.100000,81.433333,944.733333,-133.035222,0.766667,66.666196,NaN,7.451,7.552,9.0323,0,7.45100
2023-06-01 08:55:00,18.650000,-49.832746,46.883333,15.283333,191.000000,3.333333,1.666667,192.666667,22.100000,80.666667,944.766667,-136.543729,0.733333,65.832746,NaN,7.451,7.424,8.9386,0,7.45100
2023-06-01 09:00:00,18.900000,-49.000000,46.600000,15.400000,200.000000,4.000000,2.000000,202.000000,22.100000,79.900000,944.800000,-140.000000,0.700000,65.000000,0.15,7.751,7.872,9.4150,0,7.75100
2023-06-01 09:05:00,19.133333,-48.167254,42.750000,15.466667,203.666667,45.500000,23.500000,227.333333,22.100000,79.150000,944.816667,-142.484098,0.683333,64.001016,NaN,9.484,9.504,11.4429,0,9.48400
2023-06-01 09:10:00,19.366667,-47.333804,38.900000,15.533333,207.333333,87.000000,45.000000,252.666667,22.100000,78.400000,944.833333,-144.987235,0.666667,63.000813,NaN,8.923,9.088,10.9056,0,8.92300
2023-06-01 09:15:00,19.600000,-46.500000,35.050000,15.600000,211.000000,128.500000,66.500000,278.000000,22.100000,77.650000,944.850000,-147.500000,0.650000,62.000000,NaN,12.119,12.400,14.8306,0,12.11900
2023-06-01 09:20:00,19.833333,-45.666196,31.200000,15.666667,214.666667,170.000000,88.000000,303.333333,22.100000,76.900000,944.866667,-150.012765,0.633333,60.999187,NaN,20.673,20.688,24.9086,0,20.67300
2023-06-01 09:25:00,20.066667,-44.832746,27.350000,15.733333,218.333333,211.500000,109.500000,328.666667,22.100000,76.150000,944.883333,-152.515902,0.616667,59.998984,NaN,20.756,20.864,25.0368,0,20.75600
2023-06-01 09:30:00,20.300000,-44.000000,23.500000,15.800000,222.000000,253.000000,131.000000,354.000000,22.100000,75.400000,944.900000,-155.000000,0.600000,59.000000,0.15,21.093,21.184,25.4208,0,21.09300
2023-06-01 09:35:00,20.516667,-43.001016,19.900000,15.850000,202.500000,331.833333,178.833333,382.166667,22.100000,74.650000,944.916667,-155.499873,0.566667,58.333634,NaN,21.436,21.520,25.8240,0,21.43600
2023-06-01 09:40:00,20.733333,-42.000813,16.300000,15.900000,183.000000,410.666667,226.666667,410.333333,22.100000,73.900000,944.933333,-155.999898,0.533333,57.666907,NaN,21.756,21.856,26.2272,0,21.75600
2023-06-01 09:45:00,20.950000,-41.000000,12.700000,15.950000,163.500000,489.500000,274.500000,438.500000,22.100000,73.150000,944.950000,-156.500000,0.500000,57.000000,NaN,22.023,22.096,26.5152,0,22.02300
2023-06-01 09:50:00,21.166667,-39.999187,9.100000,16.000000,144.000000,568.333333,322.333333,466.666667,22.100000,72.400000,944.966667,-157.000102,0.466667,56.333093,NaN,22.389,22.560,26.9821,0,22.38900
2023-06-01 09:55:00,21.383333,-38.998984,5.500000,16.050000,124.500000,647.166667,370.166667,494.833333,22.100000,71.650000,944.983333,-157.500127,0.433333,55.666366,NaN,22.804,22.896,27.4752,0,22.80400
2023-06-01 10:00:00,21.600000,-38.000000,1.900000,16.100000,105.000000,726.000000,418.000000,523.000000,22.100000,70.900000,945.000000,-158.000000,0.400000,55.000000,0.15,23.110,23.184,27.8208,0,23.11000
2023-06-01 10:05:00,21.733333,-36.669075,1.583333,16.116667,102.833333,738.166667,431.833333,534.666667,22.050000,70.416667,944.950000,-155.189830,0.366667,54.333634,NaN,23.415,23.488,28.2799,0,23.41500
2023-06-01 10:10:00,21.866667,-35.335262,1.266667,16.133333,100.666667,750.333333,445.666667,546.333333,22.000000,69.933333,944.900000,-152.351946,0.333333,53.666907,NaN,23.623,23.712,28.4544,0,23.62300
2023-06-01 10:15:00,22.000000,-34.000000,0.950000,16.150000,98.500000,762.500000,459.500000,558.000000,21.950000,69.450000,944.850000,-149.500000,0.300000,53.000000,NaN,23.908,24.000,28.8000,0,23.90800
2023-06-01 10:20:00,22.133333,-32.664738,0.633333,16.166667,96.333333,774.666667,473.333333,569.666667,21.900000,68.966667,944.800000,-146.648054,0.266667,52.333093,NaN,24.193,24.272,29.1264,0,24.19300
2023-06-01 10:25:00,22.266667,-31.330925,0.316667,16.183333,94.166667,786.833333,487.166667,581.333333,21.850000,68.483333,944.750000,-143.810170,0.233333,51.666366,NaN,24.501,24.592,29.5104,0,24.50100
2023-06-01 10:30:00,22.400000,-30.000000,0.000000,16.200000,92.000000,799.000000,501.000000,593.000000,21.800000,68.000000,944.700000,-141.000000,0.200000,51.000000,0.15,24.960,24.960,29.9520,0,24.96000
2023-06-01 10:35:00,22.483333,-28.669075,0.000000,16.216667,92.500000,801.666667,508.333333,600.666667,21.733333,67.733333,944.616667,-130.932429,0.200000,50.500127,NaN,25.341,25.424,30.5088,0,25.34100
2023-06-01 10:40:00,22.566667,-27.335262,0.000000,16.233333,93.000000,804.333333,515.666667,608.333333,21.666667,67.466667,944.533333,-118.874555,0.200000,50.000102,NaN,25.602,25.776,30.8284,0,25.60200
2023-06-01 10:45:00,22.650000,-26.000000,0.000000,16.250000,93.500000,807.000000,523.000000,616.000000,21.600000,67.200000,944.450000,-105.500000,0.200000,49.500000,NaN,25.768,25.760,31.0154,0,25.76800
2023-06-01 10:50:00,22.733333,-24.664738,0.000000,16.266667,94.000000,809.666667,530.333333,623.666667,21.533333,66.933333,944.366667,-92.125445,0.200000,48.999898,NaN,26.126,26.224,31.4688,0,26.12600
2023-06-01 10:55:00,22.816667,-23.330925,0.000000,16.283333,94.500000,812.333333,537.666667,631.333333,21.466667,66.666667,944.283333,-80.067571,0.200000,48.499873,NaN,26.432,26.496,31.6896,0,26.43200
2023-06-01 11:00:00,22.900000,-22.000000,0.000000,16.300000,95.000000,815.000000,545.000000,639.000000,21.400000,66.400000,944.200000,-70.000000,0.200000,48.000000,0.15,26.598,26.672,32.0064,0,26.59800
2023-06-01 11:05:00,23.050000,-20.503430,0.000000,16.283333,95.666667,816.166667,549.333333,644.166667,21.283333,65.700000,944.116667,-68.172931,0.250000,47.666704,NaN,26.598,26.672,32.0064,0,26.59800
2023-06-01 11:10:00,23.200000,-19.002747,0.000000,16.266667,96.333333,817.333333,553.666667,649.333333,21.166667,65.000000,944.033333,-66.338354,0.300000,47.333363,NaN,26.834,26.912,32.2944,0,26.83400
2023-06-01 11:15:00,23.350000,-17.500000,0.000000,16.250000,97.000000,818.500000,558.000000,654.500000,21.050000,64.300000,943.950000,-64.500000,0.350000,47.000000,NaN,27.094,27.184,32.7299,0,27.09400
2023-06-01 11:20:00,23.500000,-15.997253,0.000000,16.233333,97.666667,819.666667,562.333333,659.666667,20.933333,63.600000,943.866667,-62.661646,0.400000,46.666637,NaN,27.172,27.248,32.6976,0,27.17200
2023-06-01 11:25:00,23.650000,-14.496570,0.000000,16.216667,98.333333,820.833333,566.666667,664.833333,20.816667,62.900000,943.783333,-60.827069,0.450000,46.333296,NaN,27.201,27.264,32.6081,0,27.20100
2023-06-01 11:30:00,23.800000,-13.000000,0.000000,16.200000,99.000000,822.000000,571.000000,670.000000,20.700000,62.200000,943.700000,-59.000000,0.500000,46.000000,0.15,27.189,27.264,32.7168,0,27.18900

In [27]:
# Count the number of rows where 'Power Loss Event' is 3
count_power_loss_event_3 = len(filtered_df_combined[filtered_df_combined['Power Loss Event'] == 3])

# Produce a new DataFrame where the rows are only those where 'Power Loss Event' is 1
df_power_loss_event_3 = filtered_df_combined[filtered_df_combined['Power Loss Event'] == 3]

# Print the count
print(f"Number of rows where 'Power Loss Event' is 3: {count_power_loss_event_3}")

df_power_loss_event_3.head(60)

# Optionally, save the new DataFrame to a CSV file
#df_power_loss_event_1.to_csv('df_power_loss_event_3.csv', index=False)

Number of rows where 'Power Loss Event' is 3: 1199

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith,AlbedoDaily,ptot,export_kwh,copper_ptot,Power Loss Event,predicted_ptot
tstamp,,,,,,,,,,,,,,,,,,,,
2023-06-04 13:50:00,32.233333,29.335262,0.000000,8.966667,90.000000,806.666667,503.333333,593.333333,19.500000,23.766667,939.733333,-37.666637,4.033333,51.000102,NaN,21.467,0.0,0.0,3,20.99714
2023-06-05 13:50:00,33.066667,29.335262,7.066667,9.633333,146.000000,655.333333,405.333333,551.000000,19.766667,23.733333,941.233333,-59.999187,1.766667,51.666907,NaN,20.614,0.0,0.0,3,20.58330
2023-06-06 13:50:00,18.933333,29.335262,58.333333,14.666667,233.000000,0.000000,0.000000,233.000000,25.066667,76.100000,949.166667,113.999187,2.066667,51.666907,NaN,8.668,0.0,0.0,3,9.23894
2023-06-07 13:50:00,26.300000,29.335262,0.000000,16.200000,102.000000,774.666667,480.666667,582.666667,20.433333,53.866667,945.600000,19.666907,2.000000,51.666907,NaN,21.536,0.0,0.0,3,21.26615
2023-06-08 13:50:00,30.066667,29.335262,0.000000,9.800000,77.666667,841.666667,521.666667,599.333333,14.833333,28.466667,942.333333,-37.000000,2.100000,52.000102,NaN,21.277,0.0,0.0,3,21.50083
2023-06-09 11:10:00,27.500000,-19.002747,4.466667,10.166667,153.333333,684.666667,457.000000,610.000000,15.500000,34.000000,942.900000,-69.333330,2.100000,48.333363,NaN,25.601,0.0,0.0,3,23.95332
2023-06-09 13:05:00,31.216667,16.496570,26.633333,7.600000,331.333333,214.833333,144.666667,475.166667,16.433333,22.933333,941.133333,-63.500127,2.316667,47.499873,NaN,24.924,0.0,0.0,3,20.99357
2023-06-10 13:50:00,22.300000,29.335262,40.900000,14.166667,331.333333,24.666667,14.666667,346.000000,17.366667,60.000000,946.000000,126.999898,3.166667,52.000102,NaN,21.273,0.0,0.0,3,20.43733
2023-06-11 13:50:00,23.400000,28.667958,0.000000,12.433333,81.333333,837.666667,517.000000,598.333333,13.133333,50.033333,945.700000,9.333363,1.600000,52.000102,NaN,21.527,0.0,0.0,3,22.67154
2023-06-12 13:50:00,27.766667,28.667958,0.000000,11.566667,92.666667,797.333333,492.000000,584.666667,18.033333,36.566667,938.833333,-10.666670,3.100000,52.000102,NaN,20.483,0.0,0.0,3,20.96406
2023-06-13 13:50:00,26.033333,28.335262,0.000000,3.433333,69.666667,881.333333,543.000000,612.666667,8.033333,23.233333,940.200000,-137.333330,3.433333,52.000102,NaN,22.089,0.0,0.0,3,22.58926
2023-06-15 13:50:00,29.966667,28.335262,0.000000,-0.133333,79.333333,863.000000,531.000000,610.666667,7.433333,14.300000,941.633333,-96.000000,2.733333,52.000102,NaN,22.212,0.0,0.0,3,21.96496
2023-06-16 13:50:00,27.433333,28.335262,0.000000,3.466667,75.000000,860.333333,529.666667,604.666667,9.566667,21.466667,946.066667,115.999898,3.833333,52.000102,NaN,19.923,0.0,0.0,3,20.78474
2023-06-19 13:50:00,28.400000,28.335262,0.000000,7.900000,71.333333,864.333333,531.333333,603.333333,10.533333,27.566667,941.933333,-16.666670,1.566667,52.000102,NaN,20.373,0.0,0.0,3,21.25950
2023-06-20 13:50:00,29.366667,28.335262,0.000000,4.900000,123.666667,755.666667,465.333333,589.000000,8.633333,21.133333,942.600000,149.333093,1.800000,52.000102,NaN,21.087,0.0,0.0,3,21.00209
2023-06-21 12:20:00,22.100000,1.670437,28.600000,13.733333,366.666667,140.000000,96.333333,463.333333,15.833333,59.233333,947.966667,33.307300,1.166667,47.000000,NaN,29.356,0.0,0.0,3,27.78990
2023-06-21 12:25:00,22.250000,3.338039,27.750000,13.716667,362.333333,154.500000,106.166667,469.166667,15.766667,58.566667,947.883333,30.134305,1.183333,47.000000,NaN,19.519,0.0,0.0,3,26.06562
2023-06-21 13:50:00,23.366667,28.335262,13.066667,13.133333,230.333333,438.666667,268.333333,498.666667,15.233333,52.600000,946.366667,10.999898,1.833333,52.000102,NaN,22.509,0.0,0.0,3,22.66437
2023-06-22 13:50:00,21.866667,28.335262,32.533333,11.433333,330.666667,78.333333,47.000000,378.000000,16.766667,51.366667,949.000000,128.999898,4.800000,52.000102,NaN,12.190,0.0,0.0,3,13.61629
2023-06-22 15:00:00,22.000000,44.000000,33.800000,10.900000,263.000000,0.000000,0.000000,263.000000,17.000000,49.400000,948.600000,123.000000,4.700000,61.000000,0.16,16.946,0.0,0.0,3,10.03200
2023-06-22 15:05:00,21.950000,44.832746,33.850000,10.883333,253.000000,0.000000,0.000000,253.000000,17.016667,49.466667,948.583333,122.666704,4.700000,61.832746,NaN,4.023,0.0,0.0,3,8.94703
2023-06-23 13:50:00,19.566667,28.335262,39.466667,12.966667,343.000000,2.666667,2.000000,344.333333,18.033333,65.900000,951.866667,97.666670,1.533333,52.000102,NaN,17.537,0.0,0.0,3,21.66330
2023-06-25 10:55:00,22.550000,-24.330925,0.000000,11.000000,91.666667,833.166667,530.500000,622.000000,10.200000,47.983333,948.950000,54.436587,0.383333,50.499873,NaN,28.640,0.0,0.0,3,28.24587
2023-06-25 11:00:00,22.700000,-23.000000,0.000000,11.000000,92.000000,836.000000,538.000000,630.000000,10.200000,47.500000,948.900000,65.000000,0.400000,50.000000,0.16,28.814,0.0,0.0,3,28.72368
2023-06-25 11:05:00,22.866667,-21.503430,0.000000,10.933333,92.333333,837.666667,543.166667,635.500000,10.233333,46.866667,948.833333,67.810170,0.483333,49.666704,NaN,29.005,0.0,0.0,3,29.00517
2023-06-25 11:10:00,23.033333,-20.002747,0.000000,10.866667,92.666667,839.333333,548.333333,641.000000,10.266667,46.233333,948.766667,70.648054,0.566667,49.333363,NaN,29.222,0.0,0.0,3,29.01692
2023-06-25 11:15:00,23.200000,-18.500000,0.000000,10.800000,93.000000,841.000000,553.500000,646.500000,10.300000,45.600000,948.700000,73.500000,0.650000,49.000000,NaN,29.212,0.0,0.0,3,29.37867
2023-06-25 11:20:00,23.366667,-16.997253,0.000000,10.733333,93.333333,842.666667,558.666667,652.000000,10.333333,44.966667,948.633333,76.351946,0.733333,48.666637,NaN,29.520,0.0,0.0,3,29.53440
2023-06-25 11:25:00,23.533333,-15.496570,0.000000,10.666667,93.666667,844.333333,563.833333,657.500000,10.366667,44.333333,948.566667,79.189830,0.816667,48.333296,NaN,29.315,0.0,0.0,3,29.36272
2023-06-25 11:30:00,23.700000,-14.000000,0.000000,10.600000,94.000000,846.000000,569.000000,663.000000,10.400000,43.700000,948.500000,82.000000,0.900000,48.000000,0.16,29.514,0.0,0.0,3,29.37748
2023-06-25 11:35:00,23.883333,-12.503430,0.000000,10.483333,94.333333,846.166667,571.166667,665.500000,10.433333,42.916667,948.450000,82.166662,0.983333,47.833338,NaN,29.445,0.0,0.0,3,29.57756
2023-06-25 11:40:00,24.066667,-11.002747,0.000000,10.366667,94.666667,846.333333,573.333333,668.000000,10.466667,42.133333,948.400000,82.333330,1.066667,47.666670,NaN,29.429,0.0,0.0,3,29.62302
2023-06-25 11:45:00,24.250000,-9.500000,0.000000,10.250000,95.000000,846.500000,575.500000,670.500000,10.500000,41.350000,948.350000,82.500000,1.150000,47.500000,NaN,29.638,0.0,0.0,3,29.65379
2023-06-25 11:50:00,24.433333,-7.997253,0.000000,10.133333,95.333333,846.666667,577.666667,673.000000,10.533333,40.566667,948.300000,82.666670,1.233333,47.333330,NaN,29.961,0.0,0.0,3,29.82572
2023-06-25 11:55:00,24.616667,-6.496570,0.000000,10.016667,95.666667,846.833333,579.833333,675.500000,10.566667,39.783333,948.250000,82.833338,1.316667,47.166662,NaN,30.085,0.0,0.0,3,29.74110
2023-06-25 12:00:00,24.800000,-5.000000,0.000000,9.900000,96.000000,847.000000,582.000000,678.000000,10.600000,39.000000,948.200000,83.000000,1.400000,47.000000,0.16,29.929,0.0,0.0,3,29.22224
2023-06-25 12:05:00,24.883333,-3.338039,0.000000,9.816667,96.333333,846.166667,581.333333,677.833333,10.633333,38.566667,948.133333,82.666704,1.450000,47.000000,NaN,29.644,0.0,0.0,3,28.96914
2023-06-25 12:10:00,24.966667,-1.670437,0.000000,9.733333,96.666667,845.333333,580.666667,677.666667,10.666667,38.133333,948.066667,82.333363,1.500000,47.000000,NaN,29.665,0.0,0.0,3,28.94862
2023-06-25 12:15:00,25.050000,0.000000,0.000000,9.650000,97.000000,844.500000,580.000000,677.500000,10.700000,37.700000,948.000000,82.000000,1.550000,47.000000,NaN,29.221,0.0,0.0,3,29.02736
2023-06-25 12:20:00,25.133333,1.670437,0.000000,9.566667,97.333333,843.666667,579.333333,677.333333,10.733333,37.266667,947.933333,81.666637,1.600000,47.000000,NaN,29.499,0.0,0.0,3,28.71898
2023-06-25 12:25:00,25.216667,3.338039,0.000000,9.483333,97.666667,842.833333,578.666667,677.166667,10.766667,36.833333,947.866667,81.333296,1.650000,47.000000,NaN,29.341,0.0,0.0,3,28.56106
2023-06-25 12:30:00,25.300000,5.000000,0.000000,9.400000,98.000000,842.000000,578.000000,677.000000,10.800000,36.400000,947.800000,81.000000,1.700000,47.000000,0.16,29.528,0.0,0.0,3,28.64912
2023-06-25 12:35:00,25.333333,6.496570,0.000000,9.333333,98.166667,840.666667,575.166667,674.166667,10.833333,36.233333,947.700000,80.500127,1.750000,47.166662,NaN,29.087,0.0,0.0,3,28.33827
2023-06-25 12:40:00,25.366667,7.997253,0.000000,9.266667,98.333333,839.333333,572.333333,671.333333,10.866667,36.066667,947.600000,80.000102,1.800000,47.333330,NaN,28.602,0.0,0.0,3,27.95638
2023-06-25 12:45:00,25.400000,9.500000,0.000000,9.200000,98.500000,838.000000,569.500000,668.500000,10.900000,35.900000,947.500000,79.500000,1.850000,47.500000,NaN,28.544,0.0,0.0,3,26.52802
2023-06-25 12:50:00,25.433333,11.002747,0.000000,9.133333,98.666667,836.666667,566.666667,665.666667,10.933333,35.733333,947.400000,78.999898,1.900000,47.666670,NaN,28.510,0.0,0.0,3,27.13497
2023-06-25 12:55:00,25.466667,12.503430,0.000000,9.066667,98.833333,835.333333,563.833333,662.833333,10.966667,35.566667,947.300000,78.499873,1.950000,47.833338,NaN,28.352,0.0,0.0,3,27.17545
2023-06-25 13:00:00,25.500000,14.000000,0.000000,9.000000,99.000000,834.000000,561.000000,660.000000,11.000000,35.400000,947.200000,78.000000,2.000000,48.000000,0.16,28.283,0.0,0.0,3,26.62141
2023-06-25 13:05:00,25.500000,15.496570,0.000000,8.966667,98.666667,832.166667,555.833333,654.500000,11.033333,35.266667,947.150000,77.666704,2.033333,48.333296,NaN,27.729,0.0,0.0,3,25.77759
2023-06-25 13:10:00,25.500000,16.997253,0.000000,8.933333,98.333333,830.333333,550.666667,649.000000,11.066667,35.133333,947.100000,77.333363,2.066667,48.666637,NaN,27.566,0.0,0.0,3,26.32620
2023-06-25 13:15:00,25.500000,18.500000,0.000000,8.900000,98.000000,828.500000,545.500000,643.500000,11.100000,35.000000,947.050000,77.000000,2.100000,49.000000,NaN,27.196,0.0,0.0,3,26.38844
2023-06-25 13:20:00,25.500000,20.002747,0.000000,8.866667,97.666667,826.666667,540.333333,638.000000,11.133333,34.866667,947.000000,76.666637,2.133333,49.333363,NaN,26.523,0.0,0.0,3,26.07987
2023-06-25 13:25:00,25.500000,21.503430,0.000000,8.833333,97.333333,824.833333,535.166667,632.500000,11.166667,34.733333,946.950000,76.333296,2.166667,49.666704,NaN,26.683,0.0,0.0,3,25.88174
2023-06-25 13:30:00,25.500000,23.000000,0.000000,8.800000,97.000000,823.000000,530.000000,627.000000,11.200000,34.600000,946.900000,76.000000,2.200000,50.000000,0.16,25.708,0.0,0.0,3,25.80833
2023-06-25 13:35:00,25.516667,24.165053,0.000000,8.750000,96.500000,820.000000,522.500000,619.000000,11.216667,34.483333,946.850000,75.666704,2.233333,50.499873,NaN,25.664,0.0,0.0,3,25.58381
2023-06-25 13:40:00,25.533333,25.332042,0.000000,8.700000,96.000000,817.000000,515.000000,611.000000,11.233333,34.366667,946.800000,75.333363,2.266667,50.999898,NaN,25.165,0.0,0.0,3,24.88943
2023-06-25 13:45:00,25.550000,26.500000,0.000000,8.650000,95.500000,814.000000,507.500000,603.000000,11.250000,34.250000,946.750000,75.000000,2.300000,51.500000,NaN,24.572,0.0,0.0,3,24.28108
2023-06-25 13:50:00,25.566667,27.667958,0.000000,8.600000,95.000000,811.000000,500.000000,595.000000,11.266667,34.133333,946.700000,74.666637,2.333333,52.000102,NaN,24.673,0.0,0.0,3,23.63962
2023-06-25 13:55:00,25.583333,28.834947,0.000000,8.550000,94.500000,808.000000,492.500000,587.000000,11.283333,34.016667,946.650000,74.333296,2.366667,52.500127,NaN,24.328,0.0,0.0,3,23.27932
2023-06-25 14:00:00,25.600000,30.000000,0.000000,8.500000,94.000000,805.000000,485.000000,579.000000,11.300000,33.900000,946.600000,74.000000,2.400000,53.000000,0.16,23.598,0.0,0.0,3,22.94124

In [ ]:
import matplotlib.pyplot as plt

# Assuming the user input is a start date
start_date = input("Enter the start date (YYYY-MM-DD): ")

# Convert the start date to datetime
start_date = pd.to_datetime(start_date)

# Define the end date by adding 7 days
end_date = start_date + pd.Timedelta(days=2)

# Extract the data for the specified 7-day period from both dataframes
old_data_period = filtered_df.loc[start_date:end_date]
new_data_period = filtered_df_combined.loc[start_date:end_date]

# Plotting
plt.figure(figsize=(12, 4))
plt.plot(old_data_period.index, old_data_period['ptot'], label='Actual', color='blue')
plt.plot(new_data_period.index, new_data_period['predicted_ptot'], label='Predicted', linestyle='--', color='red')
plt.xlabel('Date')
plt.ylabel('predicted_ptot')
plt.title('Old vs New Data for 2-Day Period')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd

# Define the year and month for which you want to calculate the total ptot
year = 2024
month = 5

# Filter the dataframes for the specified year and month
filtered_df_filtered = filtered_df[(filtered_df.index.year == year) & (filtered_df.index.month == month)]
filtered_df_combined_filtered = filtered_df_combined[(filtered_df_combined.index.year == year) & (filtered_df_combined.index.month == month)]

# Calculate the total actual and predicted ptot for the filtered dataframes
total_ptot_filtered = filtered_df_filtered['ptot'].sum()
total_ptot_combined = filtered_df_combined_filtered['predicted_ptot'].sum()

# Calculate kWh lost to loadshedding, power loss, and data gaps
loadshedding_loss = filtered_df_combined_filtered[filtered_df_combined_filtered['Power Loss Event'] == 1]['predicted_ptot'].sum()
power_loss = filtered_df_combined_filtered[filtered_df_combined_filtered['Power Loss Event'] == 2]['predicted_ptot'].sum()
data_gap_loss = filtered_df_combined_filtered[filtered_df_combined_filtered['Power Loss Event'] == 3]['predicted_ptot'].sum()

# Total kWh lost is the sum of losses
total_lost = loadshedding_loss + power_loss

print(f"Total actual kWh produced in {year}-{month:02} from VCOM: {total_ptot_filtered}")
print(f"Predicted total kWh produced in {year}-{month:02} without loadshedding and power loss: {total_ptot_combined}")
print(f"Loadshedding kWh lost: {loadshedding_loss}")
print(f"Power loss kWh lost: {power_loss}")
print(f"Total kWh lost: {total_lost}")

print(f"Data gap kWh by Copper meter: {data_gap_loss}")

In [ ]:
# Data for visualization
labels = ['Loadshedding Loss', 'Power Loss']
losses = [loadshedding_loss, power_loss]

# Create a bar chart
plt.figure(figsize=(10, 6))
plt.bar(labels, losses, color=['blue', 'orange', 'green'])
plt.xlabel('Loss Type')
plt.ylabel('kWh Lost')
plt.title(f'kWh Losses in {year}-{month:02}')
plt.show()